table {
     table-layout: auto !important;
}
.header {
    height: 50px;
    line-height: 50px;
}
.header_second {
    height: 110px;
}
.h_list_second a {
    height: 108px;
    line-height: 108px;
}
.head_list_tab a{
    height: 50px !important;
    line-height: 50px !important;
}
#contnet .con_title{
	margin-bottom: 20px;
	height: 35px;
	line-height: 35px;
	width: 100%;

}
#contnet .con_title .title{
	position: relative;
}
#contnet .con_title   .title span:nth-child(2){
	cursor: pointer;
	color: #909090;
	padding:0 5px;
}
#contnet .con_title  .title span:nth-child(2):hover{
	color: #3da8f5;
}

#contnet .con_title .title .content{
	width: 483px;
    height: 76px;
    position: absolute;
    top: -9px;
    left: 105px;
    z-index: 2;
     display: none; 
}
#contnet .con_title .title .content span{
	content: ''; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent; 
	border-right: 6px solid #3D464D;
	position: absolute;
	top: 19px;
	left:10px;
}
#contnet .con_title .title .content .text{
	width: 467px;
	overflow: hidden;
	padding: 20px;
	background:#3D464D;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}
#contnet .con_title .title .content .text p{
	line-height: 24px;
}

#contnet .con_title .title  span:first-child {
	font-size: 20px;
	color: #202020;
	margin-right: 10px;
	float: left;
}


#contnet .contnet{
	width: 100%;
	overflow: hidden;

}


/*成员信息*/
#contnet .con_title .membe_infor{
	position: relative;
}
#contnet .con_title .membe_infor .content{
	width: 386px;
	position: absolute;
	top: 42px;
	right: 0;
	background: #fff;
	box-shadow:0px 2px 6px 0px rgba(144,144,144,0.2);
    border-radius:4px;
    z-index: 2;
    display: none
}
#contnet .con_title .membe_infor .content:before{ 
	content: ''; 
	border-right: 9px solid transparent;
	border-left: 9px solid transparent; 
	border-bottom: 9px solid rgba(144,144,144,0.2);
	position: absolute;
	top: -9px;
	right:5px;
} 
#contnet .con_title .membe_infor .content:after{ 
	content:''; 
	border-right: 7px solid transparent; 
	border-left: 7px solid transparent; 
	border-bottom: 7px solid #fff; 
	position: absolute; 
	top: -7px; 
	right: 7px;
} 
#contnet .con_title .membe_infor .content ul{
	width: 100%;
	padding: 0 20px;
	overflow: hidden;
}
#contnet .con_title .membe_infor .content ul li{
	width: 346px;
	height:50px ;
	line-height: 50px;
	font-size: 16px;
	color: #101010;
	border-bottom: 1px solid #dedede;
}
#contnet .con_title .membe_infor .content ul li:last-child{
	border-bottom: none;
}
#contnet .con_title .membe_infor .content ul li span{
	float: left;
}
#contnet .con_title .membe_infor .content ul li span:nth-child(1){
	min-width: 67px;
	font-weight: bold;
	margin-right: 34px;
}
#contnet .con_title .membe_infor .content ul li span:nth-child(2){
	width: 50px;
	margin-right:50px; 
	font-weight: bold;
}
#contnet .con_title .membe_infor .content ul li span:nth-child(3){
	color: #909090;
	margin-right:10px; 
}
#contnet .con_title .membe_infor .content ul li span:nth-child(4){
	color: #909090;
}
#contnet .con_title .membe_infor>span:nth-child(1){
	font-size: 16px;
	margin-right: 8px;
	cursor: pointer;
	color: #909090;
}
#contnet .con_title .membe_infor span:nth-child(1) i{
	font-size: 12px !important;
	margin-left: 10px;
}
#contnet .con_title .membe_infor span:nth-child(1):hover{
	color: #3da8f5 !important;
}

/* 内容 */
#contnet{
	margin-bottom: 100px;
}
#contnet>p{
	margin: 20px 0px;
	font-size: 20px;
	color: #202020;
	margin-top: 0px;
}
.cont_f_list li{
	width: 100%;
	height: 222px;	
	margin-bottom: 20px;
	border-left: 4px solid #3da8f5;
	border-radius: 4px;
	background: #fff;
	float: left;
	padding: 26px 0;
}
/*.cont_f_list li:last-child{
	margin-right: 0px;
}*/
.cont_f_list li .cont_f_list_tit{
	width: 246px;
	height: 222px;

	float: left;
	margin-right: 102px;
	border-right: 1px solid #dedede;
}
.cont_f_list li .cont_f_list_tit p:nth-child(1){
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 60px;
}
.cont_f_list li .cont_f_list_tit p:nth-child(1) i{
	font-size: 30px ;
	color: #3da8f5;
}
.cont_f_list li .cont_f_list_tit p:nth-child(2){
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	color: #303030;
	font-weight: bold;
}

.cont_f_list li .cont_f_list_text{
	width: 790px;
	height: 232px;
    float: left;
    margin-right: 20px;
	overflow-y: auto;
}
.cont_f_list li .cont_f_list_text p {
    line-height: 28px;
    font-size: 16px;
    color: #303030;
}
/*人身保障*/
.cont_f_list li:nth-child(1) .cont_f_list_text>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 8px;
}
.cont_f_list li:nth-child(1) .cont_f_list_text>div .tit{
	
    font-size: 16px;
    margin-bottom: 10px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}
.cont_f_list li:nth-child(1) .cont_f_list_text .jl .tit {
	color: #3da8f5;
}
.cont_f_list li:nth-child(1) .cont_f_list_text .jy .tit  {
    color: #4AD883;
}


.cont_f_list li:nth-child(1) .cont_f_list_text .jl>div{
	    width: 390px;
    height: 185px;
    position: absolute;
    top: -93px;
    left: 151px;
    z-index: 2;
    display: none;
}
.cont_f_list li:nth-child(1) .cont_f_list_text .jl>div span{
	content: ''; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent; 
	border-top: 6px solid #3D464D;
	position: absolute;
	bottom: -6px;
	left:30px;
}
.cont_f_list li:nth-child(1) .cont_f_list_text .jl>div .text{
	width: 392px;
	height: 185px;
	overflow: hidden;
	padding: 20px;
	background:#3D464D;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}
.cont_f_list li:nth-child(1) .cont_f_list_text .jl>div .text p{
	line-height: 24px;
	color: #fff;
}
.cont_f_list li:nth-child(1) .cont_f_list_text>div .tit span {
    margin-right: 10px;
}
.cont_f_list li:nth-child(1) .cont_f_list_text>div .tit span {
    margin-right: 10px;
}
.cont_f_list li:nth-child(1) .cont_f_list_text>div .conent{
	width: 100%;
	overflow: hidden;
}
.cont_f_list li:nth-child(1) .cont_f_list_text .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
.cont_f_list li:nth-child(1) .cont_f_list_text .jy .conent div{
	margin-bottom: 10px;

}
.cont_f_list li:nth-child(1) .cont_f_list_text .jy .conent div>p  {
   font-weight: bold;
}
.cont_f_list li:nth-child(1) .cont_f_list_text .conent .text p{
	color: #646464;
	font-weight: 400 !important;
}
/*医疗保障*/

.cont_f_list li:nth-child(2) .cont_f_list_text>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}


.cont_f_list li:nth-child(2) .cont_f_list_text>div .conent{
	width: 100%;
	overflow: hidden;
}
.cont_f_list li:nth-child(2) .cont_f_list_text .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
.cont_f_list li:nth-child(2) .cont_f_list_text >div{
	margin-bottom: 10px;

}
.cont_f_list li:nth-child(2) .cont_f_list_text  .conent>p  {
   font-weight: bold;
}
.cont_f_list li:nth-child(2) .cont_f_list_text .conent .text{
	color: #646464;
	font-weight: 400 !important;
}
.cont_f_list li:nth-child(2) .cont_f_list_text  .p_b{
	line-height: 20px;
	border-left: 3px solid #3da8f5;
	padding-left: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}
/*财务分析*/
.cont_f_list li:nth-child(3) .cont_f_list_text>div .conent{
	width: 100%;
	overflow: hidden;
}
.cont_f_list li:nth-child(3) .cont_f_list_text .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
.cont_f_list li:nth-child(3) .cont_f_list_text .jy .conent div{
	margin-bottom: 10px;

}
.cont_f_list li:nth-child(3) .cont_f_list_text .jy .conent div>p  {
   font-weight: bold;
}
.cont_f_list li:nth-child(3) .cont_f_list_text .conent .text{
	color: #646464;
	font-weight: 400 !important;
}


/* 销售完成提示信息模态框 */
#plan_modal1{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 10;
}
#plan_modal1 .plan_modal1_con{
	width: 390px;
	height: 240px;
	position: absolute;
	background:#fff;
	border-radius: 5px;
	left:50%;
	top: 40%;
	margin-left: -215px;
	margin-top: -120px;
	padding: 0px 20px ;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
#plan_modal1 .plan_modal1_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	position: relative;
	line-height: 60px;
	font-weight: bold;
}
#plan_modal1 .plan_modal1_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#plan_modal1 .plan_modal1_title .img:hover{
	color: #3da8f5;

}
#plan_modal1 .plan_modal1_body{
	height: 118px;
	width: 390px;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	text-align: center;
	font-size: 14px;
	color: #202020;
	position: relative;
}
#plan_modal1 .plan_modal1_body p{
	line-height: 40px;
	width: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -125px;
}
#plan_modal1 .plan_modal1_footer{
	width: 100%;
	height: 60px;
	position: relative;
}
#plan_modal1 .plan_modal1_footer a{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background:#3da8f5;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top:10px;
	left: 50%;
	font-size: 14px;
	margin-left: -50px;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
}
#plan_modal1 .plan_modal1_footer a:hover{
	background:#3d98f5;
}
#plan_modal1 .plan_modal1_footer a:active{
	background:#3d7ef5;
}
/* 导出数据和销售完成 */
.d_s_add{
	position: fixed;
	bottom: 80px;
	right: 20px;
}
.d_s_add .img{
	position: fixed;
	bottom: 128px;
	right: 38px;
	color: #fff;
	font-size: 16px;
	z-index: 10;
	display: none;
}
.d_s_add ul{
	display: none;
	position: fixed;
	bottom: 140px;
	right: 20px;
	width: 130px;
	overflow: hidden;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
}
.d_s_add ul li{
	float: left;
	width: 110px;
	margin-bottom: 4px;
	padding-left: 20px;
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	font-size: 16px;
	color: #101010;
}
.d_s_add ul li:hover{
	color: #fff;
	background: #3da8f5;

}
.d_s_add span img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -8px;
}
.d_s_add span{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	background: #3da8f5;
	text-align: center;
	cursor: pointer;
}
.d_s_add span:hover{
	 box-shadow: 0px 2px 10px rgba(141,174,202,0.4);
}
.d_s_add span i{
	color: #fff;
	font-size: 40px;
}
.cont_f_list li:nth-child(3){
	margin-right: 0px;
}
.caidan{
	transition:All 0.2s ease;
}
.guanbi{
	transition:All 0.2s ease;
	transform:rotate(-100deg);
	transform:scale(0) 
}
/* 选择模态框 */
#prompt_modal .prompt_modal_body{
	border-bottom: 0 !important;
	padding: 50px 70px !important;
	height: 80px !important;
	/*background: red;*/
	width: 250px !important;
}
#prompt_modal .prompt_modal_body button{
	width: 100px;
	height: 40px;
	border: none;
	line-height: 40px;
	text-align: center;
	background: #3da8f5;
	font-size: 14px;
	color: #fff;
	float: left;
	border-radius: 4px;
	cursor: pointer; 
	margin-right: 50px;
}
#prompt_modal .prompt_modal_body button:nth-child(2){
	margin-right: 0px !important;
}
#prompt_modal .prompt_modal_body button:hover{
	background:#3d98f5;
}
#prompt_modal .prompt_modal_body button:active{
	background:#3d7ef5;
}


/* JPG页面展示 */
#select_pro_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 100;
}
#select_pro_modal .select_pro_modal{
	width: 1246px !important;
	height: 640px;
	position: absolute;
	left:50%;
	top: 50% !important;
	background: #fff;
	margin-left: -644px !important;
	margin-top: -320px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}

.select_pro_modal>img{
	position: absolute;
	top: 16px;
	right: 10px;
	cursor: pointer;
}
.select_pro_modal .img{
	position: absolute;
	top:11px !important;
	right:34px !important;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
.select_pro_modal .img:hover{
	color: #3da8f5;
}
 .select_pro_modal_titile{
	width: 1240px !important;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 0px !important;
}
 .select_pro_modal_titile div{
 	padding:0px 12px;
 	height: 48px;
 	margin-right: 20px;
 	line-height: 48px;
 	font-size: 18px;
 	color: #303030;
 	text-align: center;
 	border-bottom: 4px solid transparent;
 	cursor: pointer;
 	font-family: boldFont;
 }
 .select_pro_modal_con {
 	width: 1248px !important;
 	height: 510px !important;
 	padding: 20px 0px;
	padding-top: 0px;
 }
 .select_pro_modal_con .cont{
 	width: 100%;
 	height: 100%;
 	overflow-y: auto !important;
 }
.select_pro_modal_con .cont::-webkit-scrollbar{
   background:#fff;
   width: 8px;
 }
.select_pro_modal_con .cont::-webkit-scrollbar-thumb { 
 	background:#cacaca;
 	border-radius: 4px;
 	opacity: 0.5;
 }
.select_pro_modal_con .cont>div{
 	width: 100%;
 	overflow: hidden;
 }
.select_pro_modal_footer {
	width: 1240px !important;
	height: 60px;
	position: relative;
	border-top: 1px solid #cacaca;
	/*bottom: 0;
	left:20px !important;*/
}
.select_pro_modal_footer div{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	border: 0 none;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
.select_pro_modal_footer a:hover{
	background: #3d98f5;
}
.select_pro_modal_footer a:active{
	background: #3d7ef5;
}
/*医疗保障结论与建议*/
.Conclusionjl_jy{
	width: 100%;
	overflow: hidden;
}
.Conclusionjl_jy p{
	font-size: 20px;
	color: #303030;
}
.Conclusionjl_jy>p{
	line-height: 100px;
	font-size: 26px;
}
.Conclusionjl_jy .con{
	padding-top: 20px;
	width: 100%;
	overflow: hidden;
	float: left; 
}
.Conclusionjl_jy .con>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}


.Conclusionjl_jy .con>div .conent{
	width: 100%;
	overflow: hidden;
}
.Conclusionjl_jy .con .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
.Conclusionjl_jy .con >div{
	margin-bottom: 30px;

}
.Conclusionjl_jy .con  .conent>p  {
   font-weight: bold;
}
.Conclusionjl_jy .con .conent .text{
	color: #646464;
	font-weight: 400 !important;
}
.Conclusionjl_jy .con  .p_b{
	line-height: 20px;
	border-left: 3px solid #3da8f5;
	padding-left: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 1240px;
}


/* 头部样式 */
.s_header{
	width:100%;
	overflow: hidden;
	background: #4d4d4d;
}
.s_header p{
	width: 1160px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	margin: 0 auto;
	padding: 32px 40px;
}
.s_container{
	width: 100%;
	overflow: hidden;
}
.wrapper{
	width: 1160px;
	margin: 0 auto;
	margin-top: 80px;
}
.s_container>div{
	border-top: 1px solid #cacaca;
}
.s_container  .title{
	width: 1200px;
	height: 36px;
	color: #51a7ff;
	font-weight: bold;
	margin-top: 34px;
	margin-bottom: 40px;
	font-size: 30px;
	color: #303030;
}
.s_container  .wrapper{
	margin-top: 0;
}
/* 人身保障样式 */
.personalSecurity {
	width: 100%;
	overflow: hidden;
}

/* table样式 */
table{
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	margin-bottom: 20px;
}
thead th{
	width:580px;
	height:40px;
	line-height: 40px;
	color: #fff; 
	font-size: 18px;
	background: #51a7ff;
	text-align: left;
	padding:0px 20px;
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}

tbody tr:nth-child(odd){
	background: #f5f5f5;
}
tbody tr:hover{
	background: #f9f9f9;
}
tbody tr td{
	width: 580px;
	height: 35px;
	line-height: 35px;
	color: #303030; 
	font-size: 16px;
	padding:0px 20px;
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	text-align: left;
}
tbody tr td span:nth-child(2){
	float: right;
}
.text_r{
	text-align: right;
}
.subtitle{
	color: #b0b0b0;
	font-size: 20px;
	margin-bottom: 20px;

}
/* 收支平衡 */
.balance_conclusion{
	width: 100%;
	overflow: hidden;
	margin: 34px 0;
}
.balance_conclusion span:nth-child(1){
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	color: #383838;
	margin-right: 40px;
	float: left;
}
.balance_conclusion span:nth-child(2){
	font-size: 20px;
	color: #303030;
	float: left;
	max-width: 960px;
	overflow: hidden;
}
/* 现有资产 */
.personalSecurity table:nth-child(3) thead th:nth-child(2){
	text-align: right;
}
.personalSecurity table:nth-child(3) tbody tr td:nth-child(2){
	text-align: right;
}
/* 缺口样式 */
.gap{
	margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.gap_title{
	width: 100%;
}
.gap_title span:nth-child(1){
	font-size: 30px;
	color: #383838;
	margin-right: 20px;
	font-weight: bold;
}
.gap_title span:nth-child(2){
	font-size: 20px;
	color: #b0b0b0;
}
.gap table{
	margin-top: 80px;
	float: right;
}
.gap .pie_sum{
    width: 200px;
    position: absolute;
    top: 94px;
    left: 294px;

}
.gap .pie_sum li{
    width: 100%;
    font-size: 18px;
    color: #424242;
    float: left;
    margin-bottom: 20px;
}
.gap .pie_sum li span{
    line-height: 18px;
}
.gap .pie_sum li span:nth-child(1){
    margin-right: 6px;
    float: left;
    width: 18px;
    height: 18px;
}
.gap .pie_sum li:nth-child(1) span:nth-child(1){
    background: #ffe157;
}
.gap .pie_sum li:nth-child(2) span:nth-child(1){
    background: #3da8f5;
}
.gap .pie_sum li span:nth-child(2){
    float: left;
}
.gap .pie_sum li span:nth-child(3){
    float: right;
}
#pie{
	float: left;
}
/* 保单 */
.barData{
	width: 100%;
	overflow: hidden;

}
.barData .title {
    width: 100%;
    height: 74px;
    line-height: 74px;
    color: #303030;
    position: relative;
}
.barData .title .five_list_bar {
    width: 600px;
    height: 100%;
    background: #f5f5f5;
    position: absolute;
    left: 0;
    top: 0;
    transform: skew(-30deg,0);
    transform-origin: right top;
	
}
.barData .title>div:nth-child(1){
	position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding-left: 40px;
}

.barData .title>div>span:nth-child(1) {
    font-size: 30px;
    color: #303030;
    margin-right: 29px;
}
.barData .title>div>span:nth-child(2) {
    font-size: 24px;
    color: #3da8f5;
}
.barData .title ul {
    float: right;
    margin-right: 40px;
}
.barData .title ul li {
    float: left;
    font-size: 18px;
    margin-left: 32px;
}
.barData .title ul li span:nth-child(1) {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    background: #51a7ff;
}
.barData .title ul li:nth-child(2) span:nth-child(1) {
	background: #ffe157;
}
.barData .title ul li span:nth-child(2) {
    font-size: 18px;
}
.barData_cont_title{
	width: 100%;
	height: 52px;
	margin-bottom: 20px;
	padding-top: 30px;
	border-top: 1px dashed #cacaca;
}
.barData_cont_title:nth-child(1){
	border-top: 0;
}
.barData_cont_title>span{
	width: 110px;
	height: 52px;
	float: left;
	color: #909090;
}
.barData_cont_title_bar{
	width: 1050px;
	height: 52px;
	float: right;
}
.barData_cont_title_bar__item{
	width: 525px;
	height: 52px;
	float: left;
}
.barData_cont_title_bar__item div{
	width: 100%;
	height: 26px;
	float: left;
	background: #51a7ff;
}
.barData_cont_title_bar__item:nth-child(2) div{
	background: #ffe157;
}
.barData_cont_title_bar__item p{
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	float: left;
}
.barData_item table{
	margin-bottom: 30px !important;
}
.barData_item table th, td {
    width: 490px !important;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    color: #303030;
    text-align: right;
    padding: 5px 20px !important;
}
.barData_item table tr th {
	padding-right: 20px;
}
.barData_item table tr th:nth-child(1){
	text-align: left;
	width: 200px !important;
}
.barData_item table tr td:nth-child(1){
	text-align: left;
	width: 200px !important;
}
.barData_item table tr{
	background: #fff !important;
}
.barData_item table tr:nth-child(1){
	background: #f5f5f5 !important;
}
.barData_item table tr td:nth-child(2){
	text-align: right !important;
}
.barData_item table tr td:nth-child(3){
	text-align: right !important;
}
/* 医保简介 */
.sociaSecurity .title{
	color: #303030;
}
.sociaSecurity .title span{
	margin-left: 10px;
	color: #909090;
	font-size: 18px;
}
.sociaSecurity img{
	position: relative;
}
/* 方案推荐 */
.programme_item thead th{
	width: 70px;
}
.programme_item tbody td{
	width: 80px;
}
.programme_item thead th:nth-child(1){
	width: 220px !important;
}
.programme_item tbody tr td:nth-child(1){
	width: 1596px !important;
}
#medicalSecurity .barData .title ul li span:nth-child(1) {
    background: #3fe993;
}
#medicalSecurity .barData .title ul li:nth-child(2) span:nth-child(1) {
    background: #fb617b;
}
#medicalSecurity .barData_cont_title_bar__item div {
    background: #3fe993;
}
#medicalSecurity .barData_cont_title_bar__item:nth-child(2) div {
    background: #fb617b;
}
/* 结论文字共同样式*/

.Conclusion p{
	line-height: 30px;
	font-size: 20px;
	color: #303030;
}
.Conclusion .title{
	line-height: 100px;
}
.Conclusion>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.Conclusion>div div{
    float: left;
    width: 100%;
}
.Conclusion .subtitle{
	height: 40px;
	line-height: 40px;
	color: #383838;
	font-size: 26px;
	float: left;
	margin-right: 60px;
    margin-top: 5px;
}
.Conclusion .subtext{
	width: 972px;
	overflow: hidden;
	color: #303030;
	font-size: 18px;
	margin-top: 10px;
}
.Conclusion .subtext ul{
	width: 100%;
	overflow: hidden;
   
}
.Conclusion .subtext ul li{
	width: 100%;
	overflow: hidden;
	margin-bottom:13px;
}
.Conclusion_person ul{
		margin-top: 20px;
}
.Conclusion .subtext ul li span{
	float: left;
	line-height: 30px;
}
.Conclusion .subtext ul li .text{
	width: 882px;
	overflow: hidden;
	color: #303030;
	font-size: 18px;
}
.Conclusion>div:last-child{
	margin-bottom: 10px;
}
#programme{
	padding-bottom: 40px;
	float: left;
}
.sociaSecurity{
    overflow: hidden;
    margin-top: 20px
}
.medicalSecurity table thead th:nth-child(1){
	width: 429px;
}
.medicalSecurity table tbody tr td:nth-child(1){
	width: 429px;
	text-align: left;
}
.medicalSecurity table thead th:nth-child(2){
	width: 649px;
}
.medicalSecurity table tbody tr td:nth-child(2){
	width: 649px;
	text-align: left;
}
.sociaSecurity table thead th:nth-child(1){
	width: 429px;
}
.sociaSecurity table tbody tr td:nth-child(1){
	width: 429px;
}
.sociaSecurity table thead th:nth-child(2){
	width: 649px;
}
.sociaSecurity table tbody tr td:nth-child(2){
	width: 649px;
}
.sociaSecurity table {
  margin-bottom: 34px;
}