
.header {
    height: 50px;
    line-height: 50px;
}
.header_second {
    height: 44px;
}
.h_list_second a {
    height: 42px;
    line-height: 42px;
}
/* 内容开始 */
.con_list{
	width: 1216px;
	height: 272px;
	border-radius: 4px;
	border: 1px solid #dedede;
	background: #fff;
	padding: 20px 14px 16px 14px ;
	
}
.con_list li{
	width: 100%;
	overflow: hidden;
	float: left;
	margin-bottom: 10px;
}
/* 表格 */
.con_list_table{
	padding-top: 10px;
	height: 246px;
}
.con_list table{
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
.con_list table th,td{
	width:615px;
	height: 36px;
	line-height: 35px;
	padding:0px 20px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	color: #303030;
}
.con_list table th{
	font-size: 18px;
	font-weight: bold;
	height: 34px;
}
.con_list table td span{
	float: right;
}
.con_list table td{
	font-size: 14px;
}
.con_list tbody tr:nth-child(odd){
	background: #f0f0f0;
}
/* 中间部分 */
.cont_middle{
	width: 1246px;
	height: 70px;
	background-image: url(../img/Personal_security/info-blu.png);
	background-repeat: no-repeat;
	margin: 10px 0px;
}
.cont_middle div{
	height: 70px;
	background: #d7f3ff;
	width: 1240px;
	float: right;
}
.cont_middle p{
	font-size: 14px;
	color: #202020;
	text-indent: 13px;
	line-height: 35px;
}
