
.header {
    height: 50px;
    line-height: 50px;
}
.header_second {
    height: 110px;
}
.h_list_second a {
    height: 108px;
    line-height: 108px;
}
.head_list_tab a{
    height: 50px !important;
    line-height: 50px !important;
}

/* footer开始 */
.s_footer{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
	box-shadow: 0px -2px 2px rgba(0,0,0,0.2);
}
.s_footer .cont{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 40px;
}
.s_footer .cont a{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #6bcf6b;
	border: 0 none;
	border-radius: 4px;
	color: #fff;
	float: left;
	cursor: pointer;
	font-size: 14px;
}
.s_footer .cont a:hover{
	background: #6bcf83;
}
.s_footer .cont a:active{
	background: #49c365;
}

/* footer结束 */
/* 内容 */
#contnet{
	margin-bottom: 100px;
}
#contnet>p{
	margin: 20px 0px;
	font-size: 20px;
	color: #202020;
	margin-top: 0px;
}
/* 内容开始 */
.con_list{
	width: 1246px;
	overflow: hidden;	
	font-size: 16px;
	letter-spacing: 0.5px;
}
.con_list .lg{
	width: 1204px;
	height: 422px;
	background: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
	float: left;
	padding: 18px 20px;
	margin-bottom: 30px;
}
.con_list .sm{
	width: 570px;
	height: 414px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
	float: left;
	padding: 18px 20px;
	margin-right: 20px;
}

.con_list .lg>p{
	width: 100%;
	height: 18px;
	font-weight:bold;
	line-height: 18px;
	font-size: 18px;
	color: #303030;
	padding-bottom: 15px;
	border-bottom: 1px solid #dedede;
}
.con_list .lg .con_list_con{
	width: 100%;
	overflow: hidden;
}

 /*全年结余，结论与建议*/
 .con_list .sm>p{
	width: 100%;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	font-weight:bold;
	color: #303030;
	padding-bottom: 15px;
	border-bottom: 1px solid #dedede;
}

.con_list .sm_no p{
	line-height: 28px;
	font-size:16px;
	color: #303030; 
}
.con_list .sm .sm_no_container{
	width: 100%;
	height: 378px;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

.con_list .sm_no>p{
	font-size: 18px;
	color: #303030;
	font-weight: bold;
}
.con_list .sm_no .con_list_con{
	padding-top: 20px;
	width: 570px;
	overflow: hidden;
	float: left; 
}
.con_list .sm_no .con_list_con>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.con_list .sm_no .con_list_con>div .tit{
	
    font-size: 16px;
    margin-bottom: 10px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}
.con_list .sm_no .con_list_con .jl .tit {
	color: #3da8f5;
}
.con_list .sm_no .con_list_con .jy .tit  {
    color: #4AD883;
}

.con_list .sm_no .con_list_con>div .tit span {
    margin-right: 10px;
}
.con_list .sm_no .con_list_con>div .tit span {
    margin-right: 10px;
}
.con_list .sm_no .con_list_con>div .conent{
	width: 100%;
	overflow: hidden;
}
.con_list .sm_no .con_list_con .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
.con_list .sm_no .con_list_con .jy .conent div{
	margin-bottom: 10px;

}
.con_list .sm_no .con_list_con .jy .conent div>p  {
   font-weight: bold;
}
.con_list .sm_no .con_list_con .conent .text{
	color: #646464;
	font-weight: 400 !important;
}
/*注释*/
.con_list  .remark {
	margin-right: 0px;
}


.con_list .remark .con_list_con{
	padding-top: 20px;
	width: 570px;
	overflow: hidden;
	float: left; 
}
.con_list .remark .con_list_con>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}


.con_list .remark .con_list_con>div .conent{
	width: 100%;
	overflow: hidden;
}
.con_list .remark .con_list_con .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
.con_list .remark .con_list_con >div{
	margin-bottom: 10px;

}
.con_list .remark .con_list_con  .conent>p  {
   font-weight: bold;
}
.con_list .remark .con_list_con .conent .text{
	color: #646464;
	font-weight: 400 !important;
}
.con_list  .remark .con_list_con  .p_b{
	line-height: 16px;
	border-left: 3px solid #3da8f5;
	padding-left: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}
/*全年收支*/

#contnet .con_list_con .bar{
	width: 100%;
	height: 180px;
	float: left;
	padding-top: 50px;
	padding-bottom: 45px;
	border-bottom: 1px dashed #dedede;
}
#contnet .con_list_con .bar .bar_item{
	width: 530px;

	float: left;
    padding-left: 70px;

	
}
#expenditure_echarst {
    width: 98%;
    height: 98%;

}
#expenditure_echarst2 {
    width: 98%;
    height: 98%;

}
#contnet .con_list_con .bar .bar_item .con {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    float: left;
    	border-right: 1px dashed #dedede;
}
#contnet .con_list_con .bar .bar_item:last-child .con{
	border-right: 0;
}
#contnet .con_list_con .bar .bar_item .con .echarst_content {
    width: 210px;
    height: 210px;
    margin-right: 100px;
    float: left;
    position: relative;
}
#contnet .con_list_con .bar .bar_item .con .list {
    width: 162px;
    float: left;
    margin-top: 15px;
}

#contnet .con_list_con .bar .bar_item .con .list ul {
    width: 100%;
    overflow: hidden;
    float: left;
}
.income .gap_con1{
	background: #47E184;
}
.income  .gap_con2{
	background: #4CDFE8;
}
.income  .gap_con3{
	background: #3682F4;
}
.expenditure .gap_con1{
	background: #FFE138;
}
.expenditure  .gap_con2{
	background: #FF9B39;
}
.expenditure  .gap_con3{
	background:#FB5D77;
}
#contnet .con_list_con .bar .bar_item .con .list ul li {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 16px;
}
#contnet .con_list_con .bar .bar_item .con .list ul li p:nth-child(1) {
    width: 100%;
    height: 16px;
    line-height: 16px;
    color: #404040;
    font-size: 16px;
    margin-bottom: 8px;
}
#contnet .con_list_con .bar .bar_item .con .list ul li p:nth-child(1) span:nth-child(1) {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 10px;
    float: left;
}
#contnet .con_list_con .bar .bar_item .con .list ul li p:nth-child(1) span:nth-child(2) {
    float: left;
    font-weight: bold;
    color: #808080;
}
#contnet .con_list_con .bar .bar_item .con .list ul li p:nth-child(2) {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #404040;
    font-size: 20px;
    padding-left:24px;

}
#contnet .con_list_con .bar .bar_item .con .mid {
    width: 222px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -111px;
    text-align: center;
}
#contnet .con_list_con .bar .bar_item .con .mid p:nth-child(1) {
    height: 16px;
    line-height: 16px;
    color: #808080;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}
#contnet .con_list_con .bar .bar_item .con .mid p:nth-child(2) {
    height: 20px;
    line-height: 20px;
    color: #303030;
    font-size: 20px;
}
/*结余*/

#contnet .con_list_con .balance{
	width: 100%;
	height: 64px;
	float: left;
	padding-top: 30px;
	padding-bottom: 38px;
}
#contnet .con_list_con .balance .item{
	width: 530px;
	float: left;
	padding-left: 70px;
}
#contnet .con_list_con .balance .item>div:nth-child(1){
	width: 240px;
	float: left;
	height: 64px;

}
#contnet .con_list_con .balance .item>div:nth-child(2){
	width: 193px;
	float: left;
	height: 64px;
	padding-left: 30px;
	padding-top:7px;
}
#contnet .con_list_con .balance .item>div:nth-child(1)>span{
	width: 60px;
	height: 64px;
	background: #3682F4;
	line-height: 64px;
	color: #fff;
	font-size: 35px;
	border-radius: 6px;
	text-align: center;
	float: left;
}
#contnet .con_list_con .balance .item>div:nth-child(1)>div{
	float: right;
	overflow: hidden;
	margin-top: 7px;
	text-align: right;
	padding-right: 50px;
	border-right: 1px solid #dedede;
}
#contnet .con_list_con .balance .item>div:nth-child(1)>div p:nth-child(1){
line-height: 16px;
height: 16px;
font-size: 16px;
color: #808080;
margin-bottom: 10px;
font-weight: bold;
}
#contnet .con_list_con .balance .item>div:nth-child(1)>div p:nth-child(2){
line-height: 24px;
height: 24px;
font-size: 24px;
color: #101010;

}
#contnet .con_list_con .balance .item>div:nth-child(2) p:nth-child(1){
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 13px;
	color: #808080;

}
#contnet .con_list_con .balance .item>div:nth-child(2) p:nth-child(2){
	font-size: 14px;
	font-weight: bold;
	color: #303030;

}
