*{
	margin: 0;
	padding: 0;
	list-style: none;

}
body{
	background: #f6f6f6;
}
a{
	text-decoration: none;
}
a,span,img{
	display: inline-block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
img{
	border: 0 none;
}
body,html,h1,h2,h3,h4,h5,h6,ul,ol,input,form,div,a,span,label,button,table,tr,th,td,select,option{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.wrapper{
	width: 1246px;
	margin: 0 auto;
	margin-top: 115px;
}
input,select{
	outline: none;
}
button{
	border: 0 none;
	outline: none;
}
select {  
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
  border: solid 1px #000;  
  
  /*很关键：将默认的select选择框样式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  
  /*在选择框的最右侧中间显示小箭头图片*/  
  background: url("../img/pull-down-display.png") no-repeat scroll right center transparent;  
  background-position: 232px center;
  
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
  padding-right: 14px;  
}  
  
  
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
select::-ms-expand { display: none; }  


/* 去掉input type属性为number 的箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance:none !important;
}
input[type='number']{
	-moz-appearance:textfield;
}
.input_focus{
	border: 1px solid #3da8f5 !important;
	box-shadow: 0px 0px 5px #3da8f5;
}
/* 头部开始  */

.header{
	width: 100%;
	height: 51px;
	line-height: 51px;
	background: #fff;
	border-bottom: 1px solid #cacaca;
	position: fixed;
	z-index: 100;
	top: 0;
}

.logo a{
	font-size: 24px;
	color: #101010;
	margin-left: 60px;
}
.user{
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	border-radius: 14px;
	background: #3da8f5;
	margin-right: 60px;
	cursor: pointer;
	float: left;
	background-image: url(../img/touxiang.jpg);
	background-size: 28px 28px;
	margin-top: 11px
}
.course{
	position: absolute;
	top: 0;
	right: 307px;
	line-height: 24px;	
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 70px;
	height: 34px;
	background-image: url(../img/course.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.data{
	position: absolute;
	top: 0;
	right: 207px;
	line-height: 24px;	
	color: #fff;
	font-size: 14px;
	text-align: center;
	width: 70px;
	height: 34px;
	background-image: url(../img/data.png);
	background-repeat: no-repeat;
}
.user_list{
	position: absolute;
	right: 50px;
	top: 54px;
	z-index: 2;
	width: 130px;
	/* height: 200px; */
	background: #fff;
	border-radius:4px;
	display: none;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);

}
.user_list:before{ 
	content: ''; 
	border-right: 9px solid transparent;
	border-left: 9px solid transparent; 
	border-bottom: 9px solid rgba(0,0,0,0.1);
	position: absolute;
	top: -9px;
	right:15px;
} 
.user_list:after{ 
	content:''; 
	border-right: 7px solid transparent; 
	border-left: 7px solid transparent; 
	border-bottom: 7px solid #fff; 
	position: absolute; 
	top: -7px; 
	right: 17px;
} 
 .top_arrow{
	position: absolute;
	right:65px;
	top: 34px;
	z-index: 2;
	display: none !important;
}
.user_list a{
	width: 110px;
	height: 42px;
	line-height: 42px;
	padding-left: 20px;
	color: #101010;

}
.user_list a:hover{
	background: #3da8f5;
	color: #fff;
}
.head_list_tab{
	width: 228px;
	height: 100%;
	float: left;
	margin-left: 47px;
}
.head_list_tab a{
	width: 114px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #cacaca;
	background: #fff;
	float: left;
	font-size: 16px;
}
/* 头部结束 */
/*二级tab——header*/
.header_second{
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #cacaca;
	background: #fff;
	position: fixed;
    z-index: 88;
    top: 51px;
}
.h_list_second{
	width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.h_list_second a{
	padding: 0px 20px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	float: left;
	color: #101010;
	font-size: 14px;
	border-bottom: 2px solid #fff;
}
.h_list_second a:hover{
	color: #3da8f5;
	border-bottom: 2px solid #3da8f5;
}
.active_head_tab{
	color: #3da8f5 !important;
	border-bottom: 2px solid #3da8f5 !important;
}
/* 错误信息提示类 */
.input_focus_error{
	border: 1px solid  #a94442 !important;
	box-shadow: 0px 0px 5px #a94442;
}
/* 点击a链接切换背景图片的class */

.first_con{
	background-image: url(../img/MemberFamily/1-2.png);
	color: #fff;
}
.middle_con{
	background-image: url(../img/MemberFamily/2-2.png);
	color: #fff;
}
.last_con{
	background-image: url(../img/MemberFamily/3-2.png);
	color: #fff;
}
/* 模态框 */
#prompt_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 200;
}
#prompt_modal .prompt_modal_con{
	width: 390px;
	height: 240px;
	position: absolute;
	background:#fff;
	border-radius: 5px;
	left:50%;
	top: 40%;
	margin-left: -215px;
	margin-top: -120px;
	padding: 0 20px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
#prompt_modal .prompt_modal_title{
	width: 100%;
	height:60px;
	text-align: center;
	font-size: 20px;
	line-height: 60px;
	color: #101010;
	position: relative;
	font-weight: bold;
}
#prompt_modal .prompt_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#prompt_modal .prompt_modal_title .img:hover{
	color: #3da8f5;
}
#prompt_modal .prompt_modal_body{
	height: 118px;
	width: 100%;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	line-height: 124px;
	text-align: center;
	font-size: 14px;
	color: #202020;
}
#prompt_modal .prompt_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}
#prompt_modal .prompt_modal_footer button{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background:#3da8f5;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	cursor: pointer;
}
#prompt_modal .prompt_modal_footer button:hover{
	background:#3d98f5;
}
#prompt_modal .prompt_modal_footer button:active{
	background:#3d7ef5;
}
/* 推送信息 */

#push{
	width: 260px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #3da8f5;
	color: #fff;
	font-size: 16px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display: none;
	position: fixed;
	bottom: 80px;
	right: 0;
	z-index: 100;
}
#push span{
	width: 100%;
	height: 100%;

}
#push i{

	position: absolute;
	top: -8px;
	right: 10px;
	cursor: pointer;
}
.not_allowed{
	cursor: not-allowed;
}

