.user_list a {
    width: 130px !important;
}
/* 主题内容开始 */
.container{
	margin-bottom: 100px;
	background: #f6f6f6;
}
.con_list{
	width: 100%;
	overflow: hidden;
	padding-bottom: 80px;
}
.con_list li{
	width: 610px;
	height: 540px;
	padding: 20px;
	float: left;
	margin-right: 26px;
	background: #fff;
	border: 1px solid #cacaca;
	border-radius: 4px;
	margin-bottom: 20px;
}

.con_list li .con_list_tit{
	width: 100%;
	height: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cacaca;
	font-size: 20px;
	color: #202020;
	font-weight: bold;
		margin-bottom: 20px;
}
.con_list li .con_list_tit span{
	margin-left: 20px;
    color: #909090;
    font-size: 16px;
}
.con_list li .con_list_a{
	width: 100%;
	overflow: hidden;
}
.con_list li  .custom_from{
	width: 100%;
	height: 40px;
	line-height: 40px;

	margin-bottom: 25px;
}
.con_list li  .custom_from div{
	width: 50%;
	float: left;
}
.con_list li  .custom_from div span{
	margin-right:20px; 
	float: left;
	font-size: 16px;
    color: #202020;
    font-weight: bold;
}
.con_list li  .custom_from div  input{
	width:183px;
	height: 40px;
	line-height: 40px; 
	border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 0px 14px;
    float: left;
	font-size: 16px;
    color: #202020;
}
.icon-icon02{
	font-size: 20px !important;
	margin-right: 8px;
}
.con_list li .table{
	width: 100%;
	border-bottom: 0px;
	overflow-x: hidden;
	table-layout: fixed;
}
.con_list li .table td{
	width: 214px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	padding-right: 20px;
	font-size: 14px;


}
.con_list li .table tr td:nth-child(1){
	height: 35px;
	line-height: 35px;
	text-align: left;
	padding-left: 20px;
	padding-right: 0px;
	

}
.con_list li .table tr td a{
	width: 100% !important;
	text-decoration: none;
	border-bottom: none;
	color: #303030;
	
}
.con_list li .table tr th .th-inner{
	width: 214px;
	height: 40px;
	line-height: 40px;
	padding: 0 !important;
	padding-right: 20px !important;
	text-align: right;
	padding-right: 20px;
	color: #303030;
	font-weight: bold;
	font-size: 18px;
}
.con_list li .table tr th:nth-child(1){
	width: 130px !important;
}
.con_list li .table tr th:nth-child(1) .th-inner{
	width: 130px !important;
	text-align: left;
	padding-left: 20px !important;
	padding-right: 0px !important;

}

.con_list .con_list_a .total_amount {
	width: 100%;
	height: 70px;
	padding-bottom: 25px;
	margin-top: 25px;
} 
.con_list .con_list_a .total_amount>div{
	width: 50%;
	height: 70px;
	text-align: center;
	float: left;
} 
.con_list .con_list_a .total_amount>div p{
	height: 32px;
	line-height: 32px;
}
.con_list .con_list_a .total_amount>div:nth-child(1){
	width: 50%;
	border-right: 1px solid #cecece;
}
.con_list .con_list_a .total_amount>div p:nth-child(1){
	color: #303030;
	font-size: 18px;
}
.con_list .con_list_a .total_amount>div p:nth-child(2){
	color: #3da8f5;
	font-size: 18px;
}

    
/* 儿童保险样式 */
.con_list .children{
	height: 260px;
}
.con_list .children .con_list_tit{
	margin-bottom: 0;
}
.con_list .children .con_list_a{
	padding-top: 20px;
}
.con_list .children .con_list_a td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
}
.con_list .children .con_list_a tr td:nth-child(2){
	width: 110px !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.con_list .children .con_list_a tr td:nth-child(3){
	width: 280px !important;
	text-align: left !important;
	padding-left: 20px;
	padding-right: 0 !important;
}
.con_list .children .con_list_a tr th:nth-child(2){
	width: 110px !important;
	
}
.con_list .children .con_list_a tr th:nth-child(3){
	width: 280px !important;
	text-align: left !important;
	padding-left: 20px;
	padding-right: 0 !important;
	
}
.con_list .children .con_list_a tr th:nth-child(2) .th-inner{
	width: 110px !important;
}
.con_list .children .con_list_a tr th:nth-child(3) .th-inner{
	width: 280px !important;
	text-align: left !important;
	padding-left: 20px;
	padding-right: 0 !important;
}
/* footer开始 */
.s_footer{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
	box-shadow: 0px -2px 2px rgba(0,0,0,0.2);
}
.s_footer .cont{
	position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -110px;
    width: 240px;
    height: 40px;
}
.s_footer .cont div{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #6bcf6b;
	border: 0 none;
	border-radius: 4px;
	color: #fff;
	float: left;
	cursor: pointer;
	margin-right: 30px;
	font-size: 14px;
}
.s_footer .cont div:last-child{
	margin-right: 0px;
}
.s_footer .cont div:hover{
	background: #6bcf83;
}
.s_footer .cont div:active{
	background: #49c365;
}
#next_step:hover{
	background: #3d98f5;
}
#next_step:active{
	background: #3d7ef5;
}
#next_step{
	background: #3da8f5;
}
/* footer结束







