.user_list a {
    width: 130px !important;
}
/* 主题内容开始 */
.container{
	background: #f6f6f6;
}
.con_list{
	width: 100%;
	overflow: hidden;
	padding-bottom: 80px;
}
.con_list li{
	width:1246px;
	overflow: hidden;
	background:rgba(255,255,255,1);
	padding: 20px;
	float: left;
	border: 1px solid #cacaca;
	border-radius: 6px;
	margin-bottom: 20px;
}

.con_list li .con_list_tit{
	width: 100%;
	height: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cacaca;
	font-size: 20px;
	color: #202020;
	font-weight: bold;
		margin-bottom: 20px;
}
.con_list li .con_list_tit span{
	margin-left: 20px;
    color: #909090;
    font-size: 16px;
}
.con_list li .con_list_a{
	width: 100%;
	overflow: hidden;
}
.con_list li  .custom_from{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.con_list li  .custom_from div{
	width: 330px;
	padding-right: 40px;
	height: 50px;
	padding-top: 6px;
	padding-bottom: 9px;
	border-right: 1px solid #cacaca;
	float: left;
}
.con_list li  .custom_from div:last-child{
	width: 400px;
	padding-left:40px;
	border-right: 0px; 
}
.con_list li  .custom_from div span{
	margin-right:29px; 
	float: left;
	font-size: 16px;
    color: #202020;
    font-weight: bold;
}
.con_list li  .custom_from div  input{
	width:160px;
	height: 35px;
	line-height: 35px; 
	border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 0px 14px;
    float: left;
	font-size: 16px;
    color: #202020;
}
.icon-icon02{
	font-size: 20px !important;
	margin-right: 8px;
}
.con_list li .con_list_from{
	width: 100%;
	overflow: hidden;
}
.con_list li .con_list_from_item{
	width: 570px;
	overflow: hidden;
	margin-right: 30px;
	float: left;
}
.con_list li .con_list_from_item:nth-child(even){
	margin-right: 0px;
}
.con_list li .con_list_from_item .table{
	width: 100%;
	border-bottom: 0px;
	overflow-x: hidden;
	table-layout: fixed;
}
.fixed-table-container {
    position: relative;
    clear: both;
    border: none !important;
    border-radius: 0px !important;
}

table{
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.con_list li .con_list_from_item .table td{
	width: 214px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	padding-right: 20px;
	font-size: 14px;


}

.con_list li .con_list_from_item .table tr td:nth-child(1){
	height: 35px;
	line-height: 35px;
	text-align: left;
	padding-left: 20px;
	padding-right: 0px;
	width: 141px !important;

}
.con_list li .con_list_from_item .table tr td:nth-child(2){

	width: 141px !important;

}
.con_list li .con_list_from_item .table tr td:nth-child(3){

	width: 141px !important;

}
.con_list li .con_list_from_item .table tr td:nth-child(4) .editable-container.popover{
	left: 363px !important
}
.con_list li .con_list_from_item .table tr td a{
	width: 100% !important;
	text-decoration: none;
	border-bottom: none;
	color: #303030;
	
}
.con_list li .con_list_from_item .table tr th .th-inner{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 !important;
	padding-right: 20px !important;
	text-align: right;
	padding-right: 20px;
	color: #303030;
	font-weight: bold;
	font-size: 18px;
}

.con_list li .con_list_from_item .table tr th:nth-child(1) .th-inner{
	width: 128px;
	text-align: left;
	padding-left: 20px !important;
	padding-right: 0px !important;
}

.con_list .con_list_a .total_amount {
	width: 100%;
	height: 22px;
	line-height: 22px;
	margin-bottom: 15px;
	font-weight:bold;
    color:rgba(48,48,48,1);
    margin-top: 25px;
    font-size: 16px;
} 
.con_list .con_list_a .total_amount span{
	margin-left: 36px;
	font-size: 18px;
	color: #3DA8F5;
	font-weight: normal;
	height: 22px;
	line-height: 22px;
} 
/*公积金样式*/
.table_gjin{
	height: 35px;
	overflow-x: hidden;	
	border-bottom: 1px solid #cacaca !important;
}

.table_gjin tr td{
	width: 142px !important;
	padding-right: 20px;
	text-align: right;
}
.table_gjin tr:nth-child(odd) {
    background-color: #f0f0f0;
} 
/* 儿童保险样式 */
.con_list .children{
	width: 100%;
	overflow: hidden;


}

.con_list .children .con_list_tit{
	margin-bottom: 0;
}
.con_list .children .con_list_a{
	padding-top: 20px;
}
.con_list .children .con_list_a td {
	width: 214px;
	text-align: left;
	padding-left: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
	height: 30px;
	line-height: 30px;
}
.con_list .children .con_list_a td a{
	width: 80%;
	color: #303030 !important;
	border-bottom: 0 !important;
}

.con_list .children .con_list_a th {
	width: 194px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
	 color: #303030;
    font-weight: bold;
    font-size: 18px;
}
.con_list .children .con_list_a tr th  .th-inner{
	padding: 0px !important;
	height: 40px;
	line-height: 40px;
}
.con_list .children .con_list_a tr td:nth-child(1){
	width: 130px !important;
}
.con_list .children .con_list_a tr td:nth-child(2){
	text-align: right;
	padding-right: 20px;
	padding-left: 0;
}
.con_list .children .con_list_a tr th:nth-child(1){
	width: 150px !important;
}
.con_list .children .con_list_a tr th:nth-child(2){
	text-align: right;
	padding-right: 20px;
	padding-left: 0;
}
.con_list .children .con_list_a tr th:nth-child(1)  .th-inner{
	width: 150px !important;
}
.con_list .children .con_list_a tr th:nth-child(2) .th-inner{
	text-align: right;
	padding-right: 20px;
	padding-left: 0;
}

/* footer开始 */
.s_footer{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
	box-shadow: 0px -2px 2px rgba(0,0,0,0.2);
}
.s_footer .cont{
	position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -110px;
    width: 240px;
    height: 40px;
}
.s_footer .cont div{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #6bcf6b;
	border: 0 none;
	border-radius: 4px;
	color: #fff;
	float: left;
	cursor: pointer;
	margin-right: 30px;
	font-size: 14px;
}
.s_footer .cont div:last-child{
	margin-right: 0px;
}
.s_footer .cont div:hover{
	background: #6bcf83;
}
.s_footer .cont div:active{
	background: #49c365;
}
#next_step:hover{
	background: #3d98f5;
}
#next_step:active{
	background: #3d7ef5;
}
#next_step{
	background: #3da8f5;
}
/* footer结束     





