select {  
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
  border: solid 1px #000;  
  
  /*很关键：将默认的select选择框样式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  
  /*在选择框的最右侧中间显示小箭头图片*/  
  background: url("../img/pull-down-display.png") no-repeat scroll right center transparent;  
  background-position: 232px center;
  
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
  padding-right: 14px;  
}  
  
  
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
select::-ms-expand { display: none; }  


.header {
    height: 50px;
    line-height: 50px;
}
.header_second {
    height: 110px;
}
.h_list_second a {
    height: 108px;
    line-height:108px;
}
.head_list_tab a{
    height: 50px !important;
    line-height: 50px !important;
}
/* 内容 */
#contnet{
    margin-bottom: 100px;
    position: relative;
}
#contnet>p{
    margin: 20px 0px;
    font-size: 20px;
    color: #202020;
}


.cont_f_list {
    width: 100%;
}
.cont_f_list>li{
    width: 348px;
    height: 574px;
    background: #fff;
    border-radius: 4px;
    padding:0 20px;
    padding-top: 0px;
    margin-right: 38px;
    float: left;
    margin-bottom: 20px;
    position: relative;
}
.cont_f_list>li>p{
    height: 63px;
    line-height: 63px;
    color: #303030;
    font-size: 22px;
}
.cont_f_list>li>p span:nth-child(1){
    float: left;
}
.cont_f_list>li>p .del{
    float: right;
    color: #909090;
    font-size: 16px;
    cursor: pointer;
    line-height: 18px;
    margin-top: 24px;
}
.cont_f_list>li>p  .add_policy{
    color: #909090;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    float: right;
    margin-right: 12px;
    height: 18px;
    line-height: 18px;
    margin-top: 22px;
}
.cont_f_list>li>p  .add_policy i{
    font-size: 18px;

}
.cont_f_list>li>p .del:hover{
    color: #3da8f5;
}
.cont_f_list>li>p .add_policy:hover{
    color: #3da8f5;
}
.cont_f_list>li>p .del i{
    margin-right: 8px;
}
.cont_f_list>li ul{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x:hidden;
    padding-top: 4px;
}
.cont_f_list>li ul::-webkit-scrollbar{
    width: 5px;
}
.cont_f_list>li ul::-webkit-scrollbar-thumb {
    background:#cacaca;
    border-radius: 2px;
    height: 100px;
}

.cont_f_list>li ul li{
    width: 330px;
    min-height: 74px;
    float: left;
    margin-bottom: 14px;
    border-radius: 5px;
    border: 1px solid #eee;
    border-left: 5px solid #43a0ff !important;
    cursor: pointer;
}
.cont_f_list>li ul li:hover{
    border: 1px solid #fff;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}
.cont_f_list>li ul li>div{
    float: left;
}
.cont_f_list>li ul li:nth-child(2){
    border-left: 5px solid  #ffe138 !important;
}
.cont_f_list>li ul li:nth-child(3){
    border-left: 5px solid  #ff6b38 !important;
}
.cont_f_list>li ul li:nth-child(4){
    border-left: 5px solid  #5aee98 !important;
}

.cont_f_list>li ul li .text{
    width: 310px;
    min-height: 42px;
    padding-left: 14px;
    padding-bottom: 18px;
    padding-top: 14px;

}
.cont_f_list>li ul li .text p{
    color: #101010;
    font-size: 16px;
    line-height: 16px;
    height: 16px;

}
.cont_f_list>li ul li .text div{
    width: 100%;
    overflow: hidden;
}
.cont_f_list>li ul li .text div p{
    width: 100%;
    overflow: hidden;
    line-height: 14px;
    margin-top: 10px;
    color: #909090;
    font-size: 14px;
}
.cont_f_list>li ul li .text div p span:first-child{
    float: left;
}
.cont_f_list>li ul li .text div p span:last-child{
    float: right;
    margin-right: 10px;
}
.cont_f_list_con{
    width: 100%;
    height: 480px;
}
/* 滚动条样式自定义 */
.con_list li>div>div::-webkit-scrollbar{
    width: 5px;
}
.con_list li>div>div::-webkit-scrollbar-thumb {
    background:#cacaca;
    border-radius: 2px;
    height: 100px;
}

/* 规划分析书 */
.plan_book{
    width: 430px;
    height: 74px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -75px;
    padding: 38px 25px;
    display: none;
}
.plan_book p{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #202020;
    margin-bottom: 24px;
    font-weight: bold;

}
.plan_book .bar{
    width: 430px;
    height: 16px;
    background: #f6f6f6;
    border-radius: 4px;
}
.plan_book .bar div{
    width: 100px;
    background:#3da8f5;
    height: 100%;
    border-radius: 4px;
}


/* 计划书生成提示信息模态框 */
#plan_modal1{
    width: 100%;
    height: 100%;
    background: rgba(56,56,56,0.7);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 200;
}
#plan_modal1 .plan_modal1_con{
    width: 390px;
    height: 240px;
    position: absolute;
    background:#fff;
    border-radius: 5px;
    left:50%;
    top: 40%;
    margin-left: -215px;
    margin-top: -120px;
    padding: 0px 20px ;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
#plan_modal1 .plan_modal1_title{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: #101010;
    position: relative;
    line-height: 60px;
    font-weight: bold;
}
#plan_modal1 .plan_modal1_title .img{
    position: absolute;
    top:2px;
    right: 7px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 28px;
    color: #999;
}
#plan_modal1 .plan_modal1_title .img:hover{
    color: #3da8f5;

}
#plan_modal1 .plan_modal1_body{
    height: 118px;
    width: 390px;
    border-top: 1px solid  #cacaca;
    border-bottom: 1px solid  #cacaca;
    text-align: center;
    font-size: 14px;
    color: #202020;
    position: relative;
}
#plan_modal1 .plan_modal1_body p{
    line-height: 40px;
    width: 233px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -116px;
}
#plan_modal1 .plan_modal1_footer{
    width: 100%;
    height: 60px;
    position: relative;
}
#plan_modal1 .plan_modal1_footer a{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background:#3da8f5;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top:10px;
    left: 50%;
    font-size: 14px;
    margin-left: -50px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
#plan_modal1 .plan_modal1_footer a:hover{
    background:#3d98f5;
}
#plan_modal1 .plan_modal1_footer a:active{
    background:#3d7ef5;
}
/* 导出数据和生成规划书 */
.d_s_add{
    position: fixed;
    bottom: 80px;
    right: 20px;
}
.d_s_add .img{
    position: fixed;
    bottom: 133px;
    right: 38px;
    color: #fff;
    font-size: 16px;
    z-index: 200;
    display: none;
}
.d_s_add ul{
    display: none;
    position: fixed;
    bottom: 145px;
    right: 20px;
    width: 130px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
}
.d_s_add ul li{
    float: left;
    width: 110px;
    margin-bottom: 4px;
    padding-left: 20px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    font-size: 16px;
    color: #101010;
}
.d_s_add ul li:hover{
    color: #fff;
    background: #3da8f5;

}
.d_s_add span{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background: #3da8f5;
    text-align: center;
    cursor: pointer;
}
.d_s_add span img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -8px;
}
.d_s_add span:hover{
    box-shadow: 0px 2px 10px rgba(141,174,202,0.4);
}
.d_s_add span i{
    color: #fff;
    font-size: 40px;
}
.caidan{
    transition:All 0.2s ease;
}
.guanbi{
    transition:All 0.2s ease;
    transform:rotate(-100deg);
    transform:scale(0)
}
/* 选择模态框 */
#prompt_modal .prompt_modal_body{
    border-bottom: 0 !important;
    padding: 50px 70px !important;
    height: 80px !important;

    width: 250px !important;
}
#prompt_modal .prompt_modal_body button{
    width: 100px;
    height: 40px;
    border: none;
    line-height: 40px;
    text-align: center;
    background: #3da8f5;
    font-size: 14px;
    color: #fff;
    float: left;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
}
#prompt_modal .prompt_modal_body button:nth-child(2){
    margin-right: 0px !important;
}
#prompt_modal .prompt_modal_body button:hover{
    background:#3d98f5;
}
#prompt_modal .prompt_modal_body button:active{
    background:#3d7ef5;
}


/* JPG页面展示 */
#select_pro_modal{
    width: 100%;
    height: 100%;
    background: rgba(56,56,56,0.7);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 200;
}
#select_pro_modal .select_pro_modal{
    width: 1246px !important;
    height: 660px;
    position: absolute;
    left:50%;
    top: 50% !important;
    background: #fff;
    margin-left: -644px !important;
    margin-top: -330px;
    padding: 0px 20px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}

.select_pro_modal>img{
    position: absolute;
    top: 16px;
    right: 10px;
    cursor: pointer;
}
.select_pro_modal .img{
    position: absolute;
    top:11px;
    right:34px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 28px;
    color: #999;
}
.select_pro_modal .img:hover{
    color: #3da8f5;
}
.select_pro_modal_titile{
    width: 1240px !important;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 0px !important;
}
.select_pro_modal_titile div{
    padding:0px 12px;
    height: 48px;
    margin-right: 20px;
    line-height: 48px;
    font-size: 18px;
    color: #303030;
    text-align: center;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    font-weight: bold;
}
.select_pro_modal_con {
    width: 1240px !important;
    height: 510px !important;
    padding: 20px 0px;
    padding-top: 0px;

}
.select_pro_modal_con .cont2{
    width: 1240px;
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden;
}
.select_pro_modal_con .cont2::-webkit-scrollbar{
    background:#fff;
    width: 8px;
}
.select_pro_modal_con .cont2::-webkit-scrollbar-thumb {
    background:#cacaca;
    border-radius: 4px;
    opacity: 0.5;
}
.select_pro_modal_con .cont2>div{
    width: 1240px;
    overflow: hidden;
}
.select_pro_modal_footer {
    width: 1240px !important;
    height: 60px;
    position: absolute;
    border-top: 1px solid #cacaca;
    bottom: 0;
    left:20px !important;
}
.select_pro_modal_footer div{
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border: 0 none;
    background: #3da8f5;
    border-radius: 4px;
    cursor: pointer;
}

.select_pro_modal_footer div:hover{
    background: #3d98f5;
}
.select_pro_modal_footer div:active{
    background: #3d7ef5;
}

/* 头部样式 */
.s_header{
    width:100%;
    overflow: hidden;
    background: #4d4d4d;

}
.s_header p{
    width: 1160px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
    padding: 32px 40px;

}
.s_container{
    width: 100%;
    overflow: hidden;
}
.s_wrapper{
    width: 1160px;
    margin: 0 auto;
    padding:0px 40px;
    z-index: 200;
}
/* tabley样式 */
.title{
    width: 100%;
    height: 110px;
    line-height: 110px;
    color: #303030;
    font-size: 30px;
    font-weight: bold;
}
/* table样式 */
table{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    margin-bottom: 20px;
}
thead th{
    width:580px;
    height:40px;
    line-height: 40px;
    color: #fff;
    font-weight: 18px;
    background: #3da8f5;
    text-align: left;
    padding:0px 20px;
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}

tbody tr:nth-child(odd){
    background: #f5f5f5;
}
tbody tr:hover{
    background: #f9f9f9;
}
tbody tr td{
    width: 580px;
    height: 35px;
    line-height: 35px;
    color: #303030;
    font-size: 16px;
    padding:0px 20px;
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}
tbody tr td span:nth-child(2){
    float: right;
}
/* 五险一金 */
.five_list{
    width: 100%;
    overflow: hidden;
}
.five_list>li{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #cacaca;
}
.five_list>li .title{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: relative;
    /* background: #f5f5f5; */
}
.five_list>li .title .five_list_bar{
    width: 664px;
    height: 100%;
    background: #f5f5f5;
    position: absolute;
    left: 0;
    top: 0;
    transform:skew(-30deg,0);
    transform-origin: right top;
}
.five_list>li .title .s_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.five_list>li .title span{
    color: #202020;
    font-size: 18px;
    margin-right: 66px;
    height: 72px;
    line-height: 72px;
}
.five_list>li .title span:nth-child(1){
    color: #51a7ff;
    font-size: 36px;
    font-weight: bold;
    margin-right: 46px;
    z-index: 100;
}
.five_list>li .cont{
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 34px 0px;
}
.five_list>li .cont .pie{
    width: 579px;
    min-height: 540px;
    float: left;
    position: relative;
    border-right: 1px dashed #cacaca;
    position: relative;
}
.five_list>li .cont .pie img{
    width: 186px;
    height: 177px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -88px;
    margin-left: -93px;
}
.five_list>li .cont .pie .text_pie{
    width: 100%;
    overflow: hidden;
    padding-top: 16px;
    float: left;
}
.five_list>li .cont .pie .text_pie ul{
    width: 100%;
    overflow: hidden;
}
.five_list>li .cont .pie .text_pie ul li{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.five_list>li .cont .pie .text_pie ul li p{
    font-size: 18px ;
    color: #404040;
    height: 18px;
    line-height: 18px;
    margin-bottom: 15px;
}
.five_list>li .cont .pie .text_pie ul li p span:nth-child(1){
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #3da8f5;
    text-align: center;
    float: left;
    color: #fff;
}
.five_list>li .cont .pie .text_pie ul li p span:nth-child(2){
    float: right;
    color: #303030;
    margin-right: 50px;
}
.five_list>li .cont .pie .text_pie ul li:nth-child(2) p span:nth-child(1){
    background: #ffd83c !important;
}
.five_list>li .cont .pie .text_pie ul li:nth-child(3) p span:nth-child(1){
    background: #3fe993 !important;
}
.five_list>li .cont .pie .text_pie ul li:nth-child(4) p span:nth-child(1){
    background: #ff5672 !important;
}
.five_list>li .cont .pie .text_pie ul li>div{
    width: 100%;
    overflow: hidden;
}
.five_list>li .cont .pie .text_pie ul li>div div{
    width: 100%;
    height: 16px;
    float: left;
    line-height: 16px;
    color: #909090;
    font-size: 16px;
    margin-bottom: 15px;
}
.five_list>li .cont .pie .text_pie ul li>div div span:nth-child(1){
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    color: #909090;
    margin-left: 20px;
}
.five_list>li .cont .pie .text_pie ul li>div div span:nth-child(2){
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: right;
    color: #909090;
    margin-right: 50px;
}
/* bar样式 */
.five_list>li .cont .bar{
    width: 559px;
    min-height: 580px;
    float: left;
    position: relative;
    padding-left: 20px;
    
    position: relative;
}
.five_list>li .cont .bar img{
    width: 238px;
    height: 177px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -88px;
    margin-left: -119px;
}
.five_list>li .cont .bar .title {
    width: 100%;
    height: 100px;
}
.five_list>li .cont .bar .title>span{
    color: #383838;
    font-size: 30px;
    float: left;
    height: 40px;
    line-height: 40px;
}
.five_list>li .cont .pie .title>span{
    color: #383838;
    font-size: 30px;
    float: left;
    height: 40px;
    line-height: 40px;
}
.five_list>li .cont .bar  ul{
    float: right;
    width: 151px;
    height: 100%;
}
.five_list>li .cont .bar .title ul li {
    float: left;
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    text-align: right
}
.five_list>li .cont .title ul li span:nth-child(1){
    height: 30px;
    line-height: 30px;
    font-size: 18px !important;
    float: right;
    color: #424242;
    margin: 0;
}
.five_list>li .cont .title ul li span:nth-child(2) {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    float: left;
    position: relative;
    top: 8px;
    background: #3fe993 !important;
}
.five_list>li .cont .title ul li:nth-child(2) span:nth-child(2) {
    font-size: 18px;
    background: #3da8f5 !important;
}
.five_list>li .cont .con_bar_{
    width: 100%;
    overflow: hidden;}
.five_list>li .cont .con_bar_ .text{
    width: 100px;
    overflow: hidden;
    float: left;

}
.five_list>li .cont .con_bar_ .text ul{
    width: 100%;
    overflow: hidden;
}
.five_list>li .cont .con_bar_ .text ul li{
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #8c8c8c;
    font-size: 20px;
    float: left;
    font-weight: bold;
}
.five_list>li .cont .con_bar_ .bar_{
    width: 432px;
    overflow: hidden;
    float: right;
    border-left: 1px solid #cacaca;
}
/*不是五险一金*/
.five_list>li .cont .con_bar_ .bar_tw{
    width: 458px;
    overflow: hidden;
    float: left;
}
.five_list>li .cont .con_bar_ .bar_tw ul{
    width: 100%;
    overflow: hidden;
}
.five_list>li .cont .con_bar_ .bar_tw ul li{
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #8c8c8c;
    font-size: 20px;
    float: left;
    font-weight: bold;
}
.five_list>li .cont .con_bar_ .bar_tw ul li span{
    margin-right: 30px;
}
.five_list>li .cont .con_bar_ .bar_ ul{
    width: 100%;
    height: 100%;
}
.five_list>li .cont .con_bar_ .bar_ ul li{
    width: 100%;
    height: 60px;
    float: left;
    padding-top: 10px;
}
.five_list>li .cont .con_bar_ .bar_ ul li .bar_item{
    width: 100%;
    height: 20px;
    float: left;
    margin-bottom: 10px;
}
.five_list>li .cont .con_bar_ .bar_ ul li .bar_item:nth-child(2) div{
    background: #3da8f5 !important;
}
.five_list>li .cont .con_bar_ .bar_ ul li .bar_item div{
    width: 200px;
    height: 20px;
    background: #3fe993;
    float: left;
    margin-right: 20px;
}
.five_list>li .cont .con_bar_ .bar_ ul li .bar_item span{
    float: left;
    color: #b0b0b0 !important;
}

.five_list>li .cont .con_bar_ .bar_ ul li .bar_item span:nth-child(2){
    color: #303030 !important;
    font-size: 18px;
}
.five_list>li .cont .con_bar_ .bar_ ul li .bar_item span:nth-child(1){

    font-size: 16px;
}

/* 圆环样式 */

.dataClass{
    width: 100%;
    overflow: hidden;
}

.dataClass>li{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #cacaca;
}
.dataClass li .title{
    width: 100%;
    height: 90px;
    line-height: 90px;
    color: #303030;
}
.dataClass li .title>span:nth-child(1){
    font-size: 30px;
    color: #303030;
    margin-right: 29px;
}
.dataClass li .title>span:nth-child(2){
    font-size: 24px;
    color: #b0b0b0;
}
.dataClass li .title ul{
    float: right;
}
.dataClass li .title ul li{
    float: left;
    font-size: 18px;
    margin-left: 32px;
}
.dataClass li .title ul li span:nth-child(1){
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.dataClass li .title ul li span:nth-child(2){
    font-size: 18px;
}
.s_con1{
    background: #51a7ff;

}
.s_con2{
    background: #ffe157;

}
.con3{
    background: #3fe993;

}
.content_item{
    width:579px;
    overflow: hidden;
    border-right: 1px dashed #cacaca;
    float: left;
    position: relative;
}
/* 月度总支出 */
.monthlyTotal{
    width: 115px;
    height: 80px;
    position: absolute;
    top: 110px;
    left: 144px;
    z-index: 200;
    text-align: center;
}
.monthlyTotal span:nth-child(1){
    color: #404040;
    font-size:20px;
    font-weight: bold;
}
.monthlyTotal span:nth-child(2){
    color: #b0b0b0;
    font-size:18px;

}
.subtitle span:nth-child(1){
    color: #303030;
    font-size: 24px;
    margin-right: 34px;
}
.subtitle span:nth-child(2){
    color: #8c8c8c;
    font-size: 24px;
}
.content_item:nth-child(even){
    border: 0;
    padding-left: 20px;
    width: 559px;
}
.content_item:nth-child(even) .monthlyTotal{
    left: 166px !important;
}
.content{
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;
}
.content ul{
    width: 100%;
    overflow: hidden;

}
.content ul li{
    width: 559px;
    height: 52px;
    float: left;
    padding-right: 20px;
}
.content ul li span{
    float: left;
    color: #8c8c8c;
    font-size: 18px;
}
.content ul li .data{
    width: 440px;
    height: 100%;
    float: right;

}

.content ul li .data .data_item{
    width: 220px;
    height: 100%;
    float: left;

}

.content ul li .data .data_item div{
    width: 100%;
    height: 26px;
    float: left;
}
.content ul li .data .data_item:nth-child(1) div{
    background: #51a7ff;
}
.content ul li .data .data_item:nth-child(2) div{
    background: #ffe157;
}
.content ul li .data .data_item:nth-child(3) div{
    background: #3fe993;
}

.content ul li .data .data_item span{
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: center;
    float: left;
    font-size: 18px;
    color: #404040;
}
.short_list li{
    width:1160px !important;
}
.short_list .data{
    width: 980px !important;
}
.short_list li .data .data_item{
    width: 490px !important;
}
/*添加项目模态框  */
#add_item_modal{
    width: 100%;
    height: 100%;
    background: rgba(56,56,56,0.7);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 200;
}
#add_item_modal .add_item_modal_con{
    width: 590px;
    height: 479px;
    position: absolute;
    left:50%;
    top: 40%;
    background: #fff;
    margin-left: -315px;
    margin-top: -228px;
    padding: 0px 20px;
    border-radius: 4px;
}
#add_item_modal .add_item_modal_title{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: #101010;
    line-height: 60px;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid  #cacaca;
}
#add_item_modal .add_item_modal_title .fanhui{
    display: none;
    font-size: 22px;
    cursor: pointer;
}
#add_item_modal .add_item_modal_title .img{
    position: absolute;
    top:2px;
    right: 7px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 28px;
    color: #999;
}
#add_item_modal .add_item_modal_title .img:hover{
    color: #3da8f5;
}
#add_item_modal .add_item_modal_body{
    width: 100%;
    height: 360px;
    overflow-x: scroll;
}
#add_item_modal .add_item_modal_footer{
    width: 100%;
    height: 60px;
    position: relative;
    border-top: 1px solid  #cacaca;
}
#add_item_modal .add_item_modal_footer button{
    position: absolute;
    top: 10px;
    right: 50%;
    margin-right: -50px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #3da8f5;
    border-radius: 4px;
    cursor: pointer;
}
#add_item_modal .add_item_modal_footer button:hover{
    background: #3d98f5;
}
#add_item_modal .add_item_modal_footer button:active{
    background: #3d7ef5;
}
#add_item_modal .add_item_modal_body .item{
    width: 100%;
    height:240px;
    float: left;

    padding: 30px 0px;
}
#add_item_modal .add_item_modal_body .add_item_list .item{
        border-top: 1px dashed #cacaca;
}
input:focus{
    border: 1px solid #3da8f5 !important;
    box-shadow: 0px 0px 5px #3da8f5;
}
select:focus{
    border: 1px solid #3da8f5 !important;
    box-shadow: 0px 0px 5px #3da8f5;
}
#add_item_modal .add_item_modal_body .item .title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 28px;
}
::placeholder{
    color: #909090;
}
#add_item_modal .add_item_modal_body .item .title input{
    width:180px;
    margin-right: 90px;
    height: 40px;
    line-height: 40px;
    border: none;
    border:1px solid #cacaca;
    border-radius:4px;
    float: left;
    padding-left:15px;
    font-size: 18px;
    color: #101010;
}

#add_item_modal .add_item_modal_body .item .title div{
    height: 16px;
    padding: 12px 0;
    float: left; 
}
#add_item_modal .add_item_modal_body .item .title div span{
    float: left;
    margin-right:30px;
    height: 16px;
    line-height: 16px; 
    font-size: 14px;
    color: #101010;
}
#add_item_modal .add_item_modal_body .form{
    width: 100%;
    overflow: hidden;
}
#add_item_modal .add_item_modal_body .form p{
    width:270px;
    height: 34px;
    margin-right: 40px; 
    float: left;
    margin-bottom: 15px;
    line-height: 34px;
    font-size: 16px;
    color: #101010;
}
#add_item_modal .add_item_modal_body .form p span{
    width: 88px;
    float: left;
    color: #101010;
    font-size: 16px;
    font-weight:500;
}
#add_item_modal .add_item_modal_body .form p input{
    width:165px;
    height: 32px;
    line-height: 32px;
    border:1px solid #cacaca;
    border-radius:4px;
    float: left;
    padding-left:15px;
    font-size: 14px;
    color: #101010;
}
#add_item_modal .add_item_modal_body .form p select{
    width:165px;
    height: 34px;
    line-height: 34px;
    border:1px solid #cacaca;
    border-radius:4px;
    float: left;
    padding-left:15px;
    font-size: 14px;
    color: #909090;
    background-position: 140px center !important;
}
#add_item_modal .add_item_modal_body .form p select option{
    color: #101010
}
#add_item_modal .add_item_modal_body .form p:nth-child(even){
    margin-right: 0px;
}
#add_item_modal .add_item_modal_body .add_item{
    width: 100%;
    height:16px;
    line-height: 16px;
     font-size: 14px;
     color: #909090;
     float: left;
}
#add_item_modal .add_item_modal_body .add_item span{
    cursor: pointer;
    font-size: 14px;
    color: #909090;
}
.error {
    float: left;
    width: 100%;
    height: 14px;
    line-height: 14px;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
#add_item_modal .add_item_modal_body .add_item span:hover{
    color: #3da8f5 !important;
}
#add_item_modal .add_item_modal_body .add_item span i{
    font-size: 18px;
    margin-right: 10px;
}
#add_item_modal .add_item_modal_body .add_item_list .item:first-child{
    display: none;
}
/*删除项目模态框  */
#del_item_modal{
    width: 100%;
    height: 100%;
    background: rgba(56,56,56,0.7);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 200;
}
#del_item_modal .del_item_modal_con{
    width: 590px;
    height: 458px;
    position: absolute;
    left:50%;
    top: 30%;
    background: #fff;
    margin-left: -315px;
    margin-top: -228px;
    padding: 0px 20px;
    border-radius: 4px;
}
#del_item_modal .del_item_modal_title{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: #101010;
    line-height: 60px;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid  #cacaca;
}
#del_item_modal .del_item_modal_title .fanhui{
    display: none;
    font-size: 22px;
    cursor: pointer;
}
#del_item_modal .del_item_modal_title .img{
    position: absolute;
    top:2px;
    right: 7px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 28px;
    color: #999;
}
#del_item_modal .del_item_modal_title .img:hover{
    color: #3da8f5;
}
#del_item_modal .del_item_modal_body{
    width: 100%;
    height: 339px;
    overflow-x: scroll;
}
#del_item_modal .del_item_modal_footer{
    width: 100%;
    height: 60px;
    position: relative;
    border-top: 1px solid  #cacaca;
}
#del_item_modal .del_item_modal_footer button{
    position: absolute;
    top: 10px;
    right: 50%;
    margin-right: -50px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #3da8f5;
    border-radius: 4px;
    cursor: pointer;
}
#del_item_modal .del_item_modal_footer button:hover{
    background: #3d98f5;
}
#del_item_modal .del_item_modal_footer button:active{
    background: #3d7ef5;
}
#del_item_modal .del_item_modal_body .personal_policy{
    width: 100%;
    overflow: hidden;
} 
#del_item_modal .del_item_modal_body .personal_policy .tit{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #101010;
    font-weight: bold;
}
#del_item_modal .del_item_modal_body .personal_policy .content{
    width: 100%;
    overflow: hidden;
    padding-bottom: 0px !important;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item{
    width: 510px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 10px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item:last-child{
    margin-bottom: 0px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b{
    width: 100%;
    overflow: hidden;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fl_{
    width:368px;
    overflow: hidden;
    float: left; 
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fr_{
    width: 135px;
    height: 80px;
    float: left;
    border-left: 1px solid #eee;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fr_ label{
    top: 53px;
    left: 10px;
    font-size: 20px;
    color: #101010;
    font-weight: bold;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fr_  label:before{
    top: -36px;
    left: 32px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fr_  label:after{
    top: -34px;
    left: 38px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fl_ p:nth-child(1){
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    color: #101010;
    font-weight: bold;
    margin-bottom: 14px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fl_ p:nth-child(2){
    width: 230px;
    overflow: hidden;
    float: left;
   
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fl_ p:nth-child(2) span{
    width: 100%;
    font-size: 14px;
    color: #909090;
    font-weight: bold;
    margin-bottom: 10px;
}

#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fl_ p:nth-child(3){
    width: 135px;
    overflow: hidden;
    float: left;
   
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .con_b .fl_ p:nth-child(3) span{
    width: 100%;
    font-size: 14px;
    color: #909090;
    font-weight: bold;
    margin-bottom: 10px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #909090;
    font-size: 14px;
    cursor: pointer;
    border-top: 1px solid #eee;
    font-effect: bold;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional span:hover{
    color: #3da8f5;
}
.additional_active{
    color: #3da8f5 !important;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional i{
   font-size: 12px !important;
   margin-left: 12px;

}
#del_item_modal .del_item_modal_body>p{
    width: 60%;
    line-height: 30px;
    text-align: center;
    margin-left: 86px;
    display: none;
    margin-top: 30px;
}
/*附加险样式*/
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con{
   width: 100%;
   overflow: hidden; 
   display: none;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item{
    width: 100%;
    overflow: hidden; 
    margin-bottom: 10px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(1){
    width: 100%;
   height: 16px;
   font-size: 14px;
   color: #101010;
   margin-bottom: 12px;
   font-weight: bold;
   line-height: 16px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(2){
   width: 230px;
   overflow: hidden;
   float: left;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(2) span{
   width: 100%;
   height: 14px;
   font-size: 14px;
   margin-bottom: 10px;
   font-weight: bold;
   color: #909090;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(3){
   width: 155px;
   overflow: hidden;
   float: left;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(3) span{
   width: 100%;
   height: 14px;
   font-size: 14px;
   margin-bottom: 10px;
   font-weight: bold;
   color: #909090;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(4){
   width: 95px;
   height: 48px;
   color: #101010;
   font-size: 14px;
   float: left;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(4) label{
    top: 25px;
    left: -30px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(4) label:before{
    width: 14px;
    height: 14px;
    top: -22px;
    left: 31px;
}
#del_item_modal .del_item_modal_body .personal_policy .content .item .additional_con .additional_item p:nth-child(4) label:after{
    top: -21px;
    left: 36px;
}



/*人寿险边框颜色*/
.con_1{
    border-left: 3px solid #419FFF !important;
}
/*意外边框颜色*/
.con_2{
    border-left: 3px solid #FFD74D !important;
}
/*重疾边框颜色*/
.con_3{
    border-left: 3px solid  #ff6b38 !important;
}
/*医疗边框颜色*/
.con_4{
    border-left: 3px solid #57DA98 !important;
}


/*暂无保单提示信息*/
#no_insurance_modal{
    width: 100%;
    height: 100%;
    background: rgba(56,56,56,0.7);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 200;
}
#no_insurance_modal .no_insurance_modal_con{
    width: 390px;
    height: 240px;
    position: absolute;
    background:#fff;
    border-radius: 5px;
    left:50%;
    top: 40%;
    margin-left: -215px;
    margin-top: -120px;
    padding: 0px 20px ;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
#no_insurance_modal .no_insurance_modal_title{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: #101010;
    position: relative;
    line-height: 60px;
    font-weight: bold;
}
#no_insurance_modal .no_insurance_modal_title .img{
    position: absolute;
    top:2px;
    right: 7px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 28px;
    color: #999;
}
#no_insurance_modal .no_insurance_modal_title .img:hover{
    color: #3da8f5;

}
#no_insurance_modal .no_insurance_modal_body{
   height: 118px;
   width: 100%;
   border-top: 1px solid #cacaca;
   border-bottom: 1px solid #cacaca;
   line-height: 124px;
   text-align: center;
   font-size: 14px;
   color: #202020;
}

#no_insurance_modal .no_insurance_modal_footer{
    width: 100%;
    height: 60px;
    position: relative;
}
#no_insurance_modal .no_insurance_modal_footer button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background:#3da8f5;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top:10px;
    left: 50%;
    font-size: 14px;
    margin-left: -50px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
#no_insurance_modal .no_insurance_modal_footer button:hover{
    background:#3d98f5;
}
#no_insurance_modal .no_insurance_modal_footer button:active{
    background:#3d7ef5;
}
/* footer开始 */
.s_footer{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0px -2px 2px rgba(0,0,0,0.2);
}
.s_footer .cont{
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 40px;
}
.s_footer .cont div{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #6bcf6b;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    float: left;
    cursor: pointer;
    margin-right: 30px;
    font-size: 14px;
}
.s_footer .cont div:last-child{
    margin-right: 0px;
}
.s_footer .cont div:hover{
    background: #6bcf83;
}
.s_footer .cont div:active{
    background: #49c365;
}
    /*多选单选框*/
/*--相关的单选复选按钮--*/
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  color: #101010;
  font-weight: bold;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 16px;
    height:16px;
    content: '';
    border: 1px solid #cacaca; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb; }

.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 3px;
  left: 9px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #3da8f5;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border:1px solid #3da8f5;

 }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }
