table {
    table-layout: auto !important;
}
.user_list a {
    width: 130px !important;
}
/* 内容开始 */

.con_list li{
	width: 100%;
	overflow: hidden;
	background:#fff;
	border-radius: 4px;
	border: 1px solid #dedede;
	float: left;
	padding: 0px 10px 20px;
	margin-bottom: 10px;
	padding-left: 15px;
}
.con_list li>p{
	height: 52px;
	width: 1213px;
	line-height: 52px;
	border-bottom: 1px solid #dedede;
	position: relative;
	margin-bottom: 10px;
}
.con_list li>p span{
	float: left;
	font-weight: bold;
	font-size: 18px;
	color: #202020;
}
.con_list li>p button{
	position: absolute;
	top: 6px;
	right: 35px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	border: 0 none;
	background: #3da8f5;
	text-align: center;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.con_list li>p img{
	position: absolute;
	top: 50%;
	right: 0px;
	cursor: pointer;
}
/* 表格 */

.con_list:first-child .con_list_table{
		overflow-y:scroll;
}
.con_list table{
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
.con_list table th,td{
	width:634px;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	color: #303030;
}
.con_list li:first-child  tr th:nth-child(1){
	width: 145px;
}
.con_list li:first-child  tr th:nth-child(2){
	width: 940px !important;
}
.con_list li:first-child  tr td:nth-child(1){
	width: 289px;
}
.con_list li:first-child  tr td:nth-child(2){
	width: 450px !important;
}
.con_list .box2{
	height: 70px;
}
.con_list table th{
	font-size: 18px;
	font-weight: bold;
	height: 41px;
}
.con_list table td{
	font-size: 14px;
}
.con_list table td p{
	width: 25%;
	line-height: 20px;
	float: left;
}
.con_list table td .tit{
	width: 100%;
}
.con_list tbody tr:nth-child(odd){
	background: #f0f0f0;
}
.con_list .box{
	background: #fff;
}
.text_right{
	text-align: right !important;
	padding-right: 20px !important;
}
.text_left{
	text-align: left !important;
	padding-left: 20px !important;
}
/* 中间部分 */
.cont_middle{
	width: 1246px;
	height: 70px;
	background-image: url(../img/Personal_security/info-blu.png);
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.cont_middle p{
	width: 1240px;
	float: right;
	background: #d7f3ff;
	font-size: 14px;
	color: #202020;
	line-height: 70px;
	text-indent: 20px;
}

.con_list3 th,.con_list3 td{
	width:409px !important;
}
.con_list3 .con_list_table p:first-child{
	margin-bottom: 10px;
}
.con_list3  .con_list_table{
	height: 470px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.con_list3 .con_list_table p img{
	position:relative;
	top: 0px;
	left: -15px;
}
.con_list3 .con_list_table p:last-child{
	margin-top: 10px;
}
.con_list2 .con_list_text2 p{
	margin-bottom: 20px;
	font-size: 14px;
	color: #202020;
}
.con_list2 .box3{
	margin-bottom: 0px !important;
}
.con_list2 .con_list_text2 div{
	margin-bottom: 0px !important;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px !important;
	width: 100%;
}
.con_list2 .con_list_text2 div .sel_jy_policy{
	width: 100px !important;
	background-position: 74px 18px !important;
}
.con_list2 .con_list_text2 div label{
	margin-right: 20px;
	font-size: 14px;
	color: #202020;
}
.con_list2 .con_list_text2 div select{
	width: 240px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-radius: 4px;
	border: 1px solid #dedede;
	background-position: 216px 18px;
	font-size: 14px;
	color: #303030;
}
/* 结论与建议模态框 */
#jy_adjustment_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 200;
}
#jy_adjustment_modal .jy_adjustment_modal_con{
	width:430px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top: 40%;
	background: #fff;
	margin-left: -215px;
	margin-top: -270px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}
#jy_adjustment_modal .jy_adjustment_modal_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 60px;
	position: relative;
	font-weight: bold;
}
#jy_adjustment_modal .jy_adjustment_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#jy_adjustment_modal .jy_adjustment_modal_title .img:hover{
	color: #3da8f5;
}
#jy_adjustment_modal .jy_adjustment_modal_body{
	width: 390px;
	height: 388px;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	padding: 10px 10px;
	padding-top: 0px;
	overflow-y:scroll;
}
#jy_adjustment_modal .jy_adjustment_modal_body::-webkit-scrollbar{
	  background:#fff;
	  width: 8px;
 }
#jy_adjustment_modal .jy_adjustment_modal_body::-webkit-scrollbar-thumb { 
	background:#cacaca;
	border-radius: 4px;
	opacity: 0.5;
}
.jy_adjustment_modal_body p{
	font-size: 16px;
	color: #303030;
	margin-bottom: 18px;
	font-weight: bold;
}
.jy_adjustment_modal_body .box{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dashed #cacaca;
	padding-top: 10px;
}
.jy_adjustment_modal_body .box:last-child{
	border-bottom: none !important;
}
.jy_adjustment_modal_body .box div{
	margin-bottom: 15px;
    height: 40px;
}
 .jy_adjustment_modal_body label {
    float: left;
    font-size: 16px;
    color: #202020;
    font-weight: 400;
    line-height: 40px;
}
.jy_adjustment_modal_body select {
    width: 268px;

    height: 40px;
    background-position: 242px center;
    float: right;
    line-height: 40px;
    border: 0 none;
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 0px 14px;
}
.jy_adjustment_modal_body select option{
	color: #303030;
}
#jy_adjustment_modal .jy_adjustment_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}

#jy_adjustment_modal .jy_adjustment_modal_footer button{
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
#jy_adjustment_modal .jy_adjustment_modal_footer button:hover{
	background: #3d98f5;
}
#jy_adjustment_modal .jy_adjustment_modal_footer button:active{
	background: #3d7ef5;
}