select {  
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
  border: solid 1px #000;  
  
  /*很关键：将默认的select选择框样式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  
  /*在选择框的最右侧中间显示小箭头图片*/  
  background: url("../img/pull-down-display.png") no-repeat scroll right center transparent;  
  background-position: 232px center;
  
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
  padding-right: 14px;  
}  
  
  
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
table {
    table-layout: auto !important;
}
.user_list a {
    width: 130px !important;
}
/*医保现状*/
#contnet .content .medical_status{
	width: 100%;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	background: #fff;
	border-radius: 6px;
	padding:0 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#contnet .content .medical_status>p{
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #303030;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #dedede;
}
#contnet .content .medical_status .con{
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
	border-left: 1px solid #dedede;
	border-top: 1px solid #dedede;
}
#contnet .content .medical_status .con .con_th{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background:rgba(240,240,240,1);
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	font-size: 18px;
	color: #303030;
	font-weight: bold;
}
#contnet .content .medical_status .con .con_th span{
	text-align: left;
	padding-left: 20px;
	float: left;
}
#contnet .content .medical_status .con .con_th span:nth-child(1){
	width:173px;
	
}
#contnet .content .medical_status .con .con_th span:nth-child(2){
	width:257px;
	
}
#contnet .content .medical_status .con .con_th span:nth-child(3){
	width:295px;
	
}
#contnet .content .medical_status .con .con_th span:nth-child(4){
	width:300px;
	
}
#contnet .content .medical_status .con .con_th span:nth-child(5){
	width:154px;
	
}
#contnet .content .medical_status .con ul{
	width: 100%;
	overflow: hidden;
}
#contnet .content .medical_status .con ul li{
	width: 100%;
	min-height: 14px;
	padding: 18px 0;
	float: left;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}
#contnet .content .medical_status .con ul li div{
	font-size: 14px;
	color: #303030;
	float: left;
	overflow: hidden;
	padding-left: 20px;
	height: 100%;
	line-height: 100%;
}
#contnet .content .medical_status .con ul li div span{
	width: 100%;
	float: left;
	height: 14px;
	line-height: 14px;
	margin-bottom: 10px;

}
#contnet .content .medical_status .con ul li div span:last-child{
	margin-bottom: 0px;
}
#contnet .content .medical_status .con ul li div:nth-child(1){
	width:173px;
	
}
#contnet .content .medical_status .con ul li div:nth-child(2){
	width:257px;
	
}
#contnet .content .medical_status .con ul li div:nth-child(3){
	width:295px;
	
}
#contnet .content .medical_status .con ul li div:nth-child(4){
	width:305px;
	
}
#contnet .content .medical_status .con ul li div:nth-child(5){
	width:154px;
	color: #909090;
	cursor: pointer;

}
#contnet .content .medical_status .con ul li div:nth-child(5):hover{
	color: #3da8f5;
}
#contnet .content .medical_status .con ul li div:nth-child(5) i{
	margin-left: 10px;
	position: relative;
	top: 1px;
}
/* 结论与建议模态框 */
#jy_adjustment_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 200;
}
#jy_adjustment_modal .jy_adjustment_modal_con{
	width:430px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top: 40%;
	background: #fff;
	margin-left: -215px;
	margin-top: -270px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}
#jy_adjustment_modal .jy_adjustment_modal_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 60px;
	position: relative;
	font-weight: bold;
}
#jy_adjustment_modal .jy_adjustment_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#jy_adjustment_modal .jy_adjustment_modal_title .img:hover{
	color: #3da8f5;
}
#jy_adjustment_modal .jy_adjustment_modal_body{
	width: 390px;
	height: 388px;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	padding: 10px 10px;
	padding-top: 0px;
	overflow-y:scroll;
}
#jy_adjustment_modal .jy_adjustment_modal_body::-webkit-scrollbar{
	  background:#fff;
	  width: 8px;
 }
#jy_adjustment_modal .jy_adjustment_modal_body::-webkit-scrollbar-thumb { 
	background:#cacaca;
	border-radius: 4px;
	opacity: 0.5;
}
.jy_adjustment_modal_body p{
	font-size: 16px;
	color: #303030;
	margin-bottom: 18px;
	font-weight: bold;
}
.jy_adjustment_modal_body .box{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dashed #cacaca;
	padding-top: 10px;
}
.jy_adjustment_modal_body .box:last-child{
	border-bottom: none !important;
}
.jy_adjustment_modal_body .box div{
	margin-bottom: 15px;
    height: 40px;
}
 .jy_adjustment_modal_body label {
    float: left;
    font-size: 16px;
    color: #202020;
    font-weight: 400;
    line-height: 40px;
}
.jy_adjustment_modal_body select {
    width: 268px;

    height: 40px;
    background-position: 242px center;
    float: right;
    line-height: 40px;
    border: 0 none;
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 0px 14px;
}
.jy_adjustment_modal_body select option{
	color: #303030;
}
#jy_adjustment_modal .jy_adjustment_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}

#jy_adjustment_modal .jy_adjustment_modal_footer button{
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
#jy_adjustment_modal .jy_adjustment_modal_footer button:hover{
	background: #3d98f5;
}
#jy_adjustment_modal .jy_adjustment_modal_footer button:active{
	background: #3d7ef5;
}
/*医保详情*/
#mdetail_adjustment_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 200;
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_con{
	width:1240px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top: 40%;
	background: #fff;
	margin-left: -620px;
	margin-top: -310px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 60px;
	position: relative;
	font-weight: bold;
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_title .img:hover{
	color: #3da8f5;
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_body{
	width: 1200px;
	height: 500px;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	padding: 10px 0px;
	padding-top: 0px;
	overflow-y:scroll;
	overflow-x:hidden;
}

#mdetail_adjustment_modal .mdetail_adjustment_modal_body  img{
	width: auto;
	height: auto;
	float: left;
	position: relative;
	left: -18px;
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}

#mdetail_adjustment_modal .mdetail_adjustment_modal_footer button{
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_footer button:hover{
	background: #3d98f5;
}
#mdetail_adjustment_modal .mdetail_adjustment_modal_footer button:active{
	background: #3d7ef5;
}
/*暂无医保提示信息*/
#no_insurance_modal{
    width: 100%;
    height: 100%;
    background: rgba(56,56,56,0.7);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 200;
}
#no_insurance_modal .no_insurance_modal_con{
    width: 390px;
    height: 240px;
    position: absolute;
    background:#fff;
    border-radius: 5px;
    left:50%;
    top: 40%;
    margin-left: -215px;
    margin-top: -120px;
    padding: 0px 20px ;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
#no_insurance_modal .no_insurance_modal_title{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: #101010;
    position: relative;
    line-height: 60px;
    font-weight: bold;
}
#no_insurance_modal .no_insurance_modal_title .img{
    position: absolute;
    top:2px;
    right: 7px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 28px;
    color: #999;
}
#no_insurance_modal .no_insurance_modal_title .img:hover{
    color: #3da8f5;

}
#no_insurance_modal .no_insurance_modal_body{
   height: 118px;
   width: 100%;
   border-top: 1px solid #cacaca;
   border-bottom: 1px solid #cacaca;
   line-height: 124px;
   text-align: center;
   font-size: 14px;
   color: #202020;
}

#no_insurance_modal .no_insurance_modal_footer{
    width: 100%;
    height: 60px;
    position: relative;
}
#no_insurance_modal .no_insurance_modal_footer button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background:#3da8f5;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top:10px;
    left: 50%;
    font-size: 14px;
    margin-left: -50px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
#no_insurance_modal .no_insurance_modal_footer button:hover{
    background:#3d98f5;
}
#no_insurance_modal .no_insurance_modal_footer button:active{
    background:#3d7ef5;
}
#contnet .content .recommend .con p{
	margin: 10px 0 !important;
}