select {  
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
  border: solid 1px #000;  
  
  /*很关键：将默认的select选择框样式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  

  
  /*在选择框的最右侧中间显示小箭头图片*/  
  background: url("../img/pull-down-display.png") no-repeat scroll right center transparent;  
  background-position: 232px center;
  
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
  padding-right: 14px;  
}  
  
  
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
select::-ms-expand { display: none; }  
table {
    table-layout:fixed  ;
    width: 100%;
    
}
.user_list a {
    width: 130px !important;
}
#contnet .con_title{
	position: relative;
}
#contnet .con_title  p span:last-child{
	cursor: pointer;
	color: #909090;
	padding:0 5px;
}
#contnet .con_title  p span:last-child:hover{
	color: #3da8f5;
}

#contnet .con_title .content{
	width: 483px;
    height: 76px;
    position: absolute;
    top: -9px;
    left: 108px;
    z-index: 2;
     display: none; 
}
#contnet .con_title .content span{
	content: ''; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent; 
	border-right: 6px solid #3D464D;
	position: absolute;
	top: 19px;
	left:10px;
}
#contnet .con_title .content .text{
	width: 467px;
	overflow: hidden;
	padding: 20px;
	background:#3D464D;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}
#contnet .con_title .content .text p{
	line-height: 24px;
}
/*财务现状*/
#contnet .content .finance{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
#contnet .content .finance .situation{
	width: 760px;
	height: 480px;
	float: left;
	background: #fff;
	border-radius: 6px;
	padding: 0 20px;
	border: 1px solid #dbdbdb;	
	margin-right: 20px;
}
#contnet .content .finance .situation>p{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dedede;
}

#contnet .content .finance .situation>p span:nth-child(1){
	font-size: 18px;
	font-weight: bold;
}
#contnet .content .finance .situation>p span:nth-child(2){
	font-size: 14px;
	font-weight: 500;
	color: #909090;
	cursor: pointer;
}
#contnet .content .finance .situation>p span:nth-child(2):hover{
	color: #3da8f5;
}
#contnet .content .finance .situation>p span:nth-child(2) i{
	font-size: 14px;
	margin-right: 10px;
}
#contnet .content .finance .situation .con{
	width: 100%;
	height: 400px;

	padding-top: 20px;
	overflow-y: scroll;
}
#contnet .content .finance .situation .con::-webkit-scrollbar{
  background:#fff;
  width: 5px;
}
 #contnet .content .finance .situation .con::-webkit-scrollbar-thumb { 
	background:#cacaca;
	border-radius: 5px;
}
#contnet .content .finance .situation .con>div{
	width: 100%;
	overflow: hidden;
}
#contnet .content .finance .situation .con>div>p{
	width: 100%;
	height: 16px;
	line-height: 16px;
	border-left: 3px solid #3da8f5;
	padding-left: 12px;
	margin-bottom: 30px;
}
#contnet .content .finance .situation .con>div>p span:nth-child(1){
	font-size: 16px;
	color: #303030;
	margin-right: 20px;
	font-weight: bold;
}

#contnet .content .finance .situation .con>div>p span:nth-child(2){
	font-size: 16px;
	color: #808080;
	font-weight: bold;

}
#contnet .content .finance .situation .con>div>ul{
	width: 100%;
	overflow: hidden;
}
#contnet .content .finance .situation .con>div>ul li{
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
	float: left;
}
#contnet .content .finance .situation .con>div>ul li div:nth-child(1){
	width: 150px;
	height: 43px;
	
	float: left;
}
#contnet .content .finance .situation .con>div>ul li div:nth-child(1) p:nth-child(1){
	width: 100%;
	font-size: 16px;
	color: #808080;
	height: 14px;
	line-height: 14px;
	margin-bottom: 10px;
	font-weight: bold;
	float: left;
}
#contnet .content .finance .situation .con>div>ul li div:nth-child(1) p:nth-child(2){
	width: 100%;
	font-size: 20px;
	color: #438CEF;
	height: 20px;
	line-height: 20px;
	font-weight: 500;
	float: left;
}
#contnet .content .finance .situation .con>div>ul li div:nth-child(2){
	width: 551px;
	min-height: 43px;
	float: left;

	border-left: 1px solid #cacaca;
	line-height: 43px;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
		padding-left: 58px;
}
#contnet .content .finance .situation .con>div>ul li div:nth-child(2) p{
	line-height: 24px;

}	
#contnet .content .finance .situation .con>div>ul  .fyzn{
	height: 70px;
	
}
#contnet .content .finance .situation .con>div>ul  .fyzn  div:nth-child(1){
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
#contnet .content .finance .situation .con>div>ul  .fyzn  div:nth-child(2){
	padding-top: 0;
	padding-bottom: 0;
}
/*财务缺口*/
#contnet .content .finance .gap{
	width: 466px;
	height: 480px;
	float: left;
	background: #fff;
	border-radius: 6px;
	padding: 0 20px;
	border: 1px solid #dbdbdb;	
}
#contnet .content .finance .gap>p{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dedede;
}
#contnet .content .finance .gap>p span:nth-child(1){
	font-size: 18px;
	font-weight: bold;
}
#contnet .content .finance .gap>p span:nth-child(2){
	font-size: 14px;
	font-weight: 500;
	color: #909090;
	cursor: pointer;
}
#contnet .content .finance .gap>p span:nth-child(2):hover{
	color: #3da8f5;
}
#contnet .content .finance .gap>p span:nth-child(2) i{
	font-size: 14px;
	margin-right: 10px;
}
#contnet .content .finance .gap .con{
	width: 100%;
	overflow: hidden;
	padding-bottom: 50px;
	
	float: left;
}
#contnet .content .finance .gap  .con .echarst_content{
	width: 222px;
	height: 222px;
	margin-right: 40px;
	float: left;
	position: relative;
}
#contnet .content .finance .gap  .con .mid{
	width: 222px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -111px;
	text-align: center;
}
#contnet .content .finance .gap   .con .mid p:nth-child(1){
	height: 18px;
	line-height: 18px;
	color: #808080;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}
#contnet .content .finance .gap  .con .mid p:nth-child(2){
	height:24px;
	line-height: 24px;
	color: #303030;
	font-size: 24px;
}
#contnet .content .finance .gap  .con .list{
	width: 162px;
	float: left;
	margin-top: 15px;
}
#contnet .content .finance .gap  .con .list>p{
	width: 100%;
	height: 16px;
	line-height: 16px;
	color: #303030;
	font-size: 16px;
	padding-left: 10px;
	border-left: 3px solid #3da8f5;
	margin-bottom: 30px;
	font-weight: bold;
}
#contnet .content .finance .gap  .con .list ul{
	width: 100%;
	overflow: hidden;
	float: left;
}
#contnet .content .finance .gap  .con .list ul li{
	width: 100%;
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}
#contnet .content .finance .gap  .con .list ul li:nth-child(2){
	margin-bottom: 0;
}
#contnet .content .finance .gap  .con .list ul li p:nth-child(1){
	width: 100%;
	height: 16px;
	line-height: 16px;
	color: #404040;
	font-size:16px;
	margin-bottom: 10px;
}
#contnet .content .finance .gap  .con .list ul li p:nth-child(2){
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #404040;
	font-size:20px;
	margin-bottom: 10px;
}
#contnet .content .finance .gap  .con .list ul li p:nth-child(1) span:nth-child(1){
	width: 16px;
	height: 16px;
	border-radius:  8px;

	margin-right: 8px;
	float: left;

}
.gap_con1{
	background: #fe7358;
}
.gap_con2{
	background: #FFE138;
}
#contnet .content .finance .gap  .con .list ul li p:nth-child(1) span:nth-child(2){
	float: left;
		font-weight: bold;
		color: #808080;
}
#expenditure_echarst{
	width: 100%;
	height: 100%;
}
#contnet .content .finance .gap   .money{
	width: 100%;
	height:60px;
	float: left; 
	margin-bottom: 57px;
	margin-top: 42px;
}
#contnet .content .finance .gap   .money ul{
	width: 100%;
	overflow: hidden;
}
#contnet .content .finance .gap .money ul li{
	width: 210px;
	float: left;
	border-right: 1px solid #cacaca;
}
#contnet .content .finance .gap .money ul li:last-child{
	border-right: 0px;
}
#contnet .content .finance .gap .money ul li p:nth-child(2){
	width: 100%;
	height: 20px;
	line-height: 20px;
	
	color:#438CEF;
	font-size: 20px;  
	text-align: center;
	font-weight: bold;
}
#contnet .content .finance .gap .money ul li p:nth-child(1){
	width: 100%;
	height: 14px;
	line-height: 14px;
	color:#303030;
	font-size: 14px;  
	text-align: center;
	font-weight: bold;
	margin-bottom:14px;
}
#contnet .content .finance .gap .money ul li:nth-child(2) p:nth-child(1) span{

	    margin-left: 14px;
    font-size: 16px;
    color: #909090;
    cursor: pointer;
    font-weight: normal;
}
#contnet .content .finance .gap .money ul li:nth-child(2) p:nth-child(1) span:hover{
	color: #3da8f5;
}
/*预期支出调整计算  */
#adjustment_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 10;
}
#adjustment_modal .adjustment_modal_con{
	width:430px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top: 40%;
	background: #fff;
	margin-left: -215px;
	margin-top: -240px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}
#adjustment_modal .adjustment_modal_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 60px;
	position: relative;
	font-weight: bold;
}
#adjustment_modal .adjustment_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#adjustment_modal .adjustment_modal_title .img:hover{
	color: #3da8f5;
}
#adjustment_modal .adjustment_modal_body{
	width: 390px;
	overflow: hidden;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	padding: 10px 10px;
	padding-top: 0px;
}
.adjustment_modal_body p{
	font-size: 16px;
	color: #303030;
	margin-bottom: 18px;
	font-weight: bold;
	    width: 100%;
    border-left: 2px solid #3da8f5;
    padding-left: 10px;
    height: 16px;
    line-height: 16px;
}
.adjustment_modal_body .box{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dashed #cacaca;
	padding-top: 10px;
}
.adjustment_modal_body .box:last-child{
	border-bottom: none !important;
}
.adjustment_modal_body .box div{
	margin-bottom: 15px;
    height: 40px;
    position: relative;
}
 .adjustment_modal_body label {
    float: left;
    font-size: 16px;
    color: #202020;
    font-weight: 400;
    line-height: 40px;
}
.adjustment_modal_body input {
    width: 232px;
    height: 40px;
    line-height: 40px;
    border: 0 none;
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #303030;
    padding:0px 14px;
    float: right;
}
.adjustment_modal_body .box div span{
	position: absolute;
	top: 10px;
	right: 10px;
}
#adjustment_modal .adjustment_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}

#adjustment_modal .adjustment_modal_footer button{
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
#adjustment_modal .adjustment_modal_footer button:hover{
	background: #3d98f5;
}
#adjustment_modal .adjustment_modal_footer button:active{
	background: #3d7ef5;
}
#contnet .content .recommend .con .quk{
  cursor: pointer;
  color: #909090;
}
#contnet .content .recommend .con .quk:hover{
	color: #3da8f5;
}
/* 缺口调整模态框 */
#q_adjustment_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 100;
}
#q_adjustment_modal .q_adjustment_modal_con{
	width:430px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top: 40%;
	background: #fff;
	margin-left: -215px;
	margin-top: -118px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}
#q_adjustment_modal .q_adjustment_modal_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 60px;
	position: relative;
	font-weight: bold;
}
#q_adjustment_modal .q_adjustment_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#q_adjustment_modal .q_adjustment_modal_title .img:hover{
	color: #3da8f5;
}
#q_adjustment_modal .q_adjustment_modal_body{
	width: 390px;
	overflow: hidden;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	padding-top: 0px;
}
.q_adjustment_modal_body .box{
	width: 100%;
	height: 150px;
	padding-top: 20px;
	padding-bottom: 22px;
	border-bottom: 1px dashed #cacaca;
	font-weight: bold;
}
.q_adjustment_modal_body .box:last-child{
	border-bottom: 0px;
}

.q_adjustment_modal_body .box>div:nth-child(1){
	height: 16px;
	line-height: 16px;
	width: 100%;
	border-left: 2px solid #3da8f5;
	padding-left: 10px;
	font-size: 16px;
	margin-bottom: 20px;
}
.q_adjustment_modal_body .box>div:nth-child(2){
	width: 100%;
	height: 16px;
	float: left;
	margin-bottom: 20px;
	line-height: 16px;
}
.q_adjustment_modal_body .box>div:nth-child(2) span:nth-child(1){
	font-size: 16px;
	color: #101010;
	margin-right: 35px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(2) span:nth-child(2){
	margin-right: 30px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(2) span:nth-child(2) label:after{
	top: 4px !important;
	left: 6px !important;
}
.q_adjustment_modal_body .box>div:nth-child(2) span:nth-child(2) label:before{
	top: -2px !important;
	left: 0px !important;
}
.q_adjustment_modal_body .box>div:nth-child(2) span:nth-child(2){
	margin-right: 30px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(2) span:nth-child(3) label:after{
	top: 4px !important;
	left: 6px !important;
}
.q_adjustment_modal_body .box>div:nth-child(2) span:nth-child(3) label:before{
	top: -2px !important;
	left: 0px !important;
}
.q_adjustment_modal_body .box>div:nth-child(3){
	width: 100%;
	overflow: hidden;
	float: left;

}
.q_adjustment_modal_body .box>div:nth-child(3) div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
		display: none;
}
.q_adjustment_modal_body .box>div:nth-child(3) div:nth-child(1){
	display: block;
}
.q_adjustment_modal_body .box>div:nth-child(3) div span{
	font-size: 16px;
	color: #101010;
	margin-right: 70px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(3) div select{
	font-size: 14px;
	color: #303030;
	float: left;
	width: 260px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #cacaca;
	border-radius: 4px;
	padding-left: 15px;

}


#q_adjustment_modal .q_adjustment_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}
#q_adjustment_modal .q_adjustment_modal_footer button{
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
#q_adjustment_modal .q_adjustment_modal_footer button:hover{
	background: #3d98f5;
}
#q_adjustment_modal .q_adjustment_modal_footer button:active{
	background: #3d7ef5;
}
/*推荐方案*/

#contnet .content  .recommend  .recommend-container .con>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
#contnet .content  .recommend  .recommend-container .con>div .tit{
	
    font-size: 16px;
    margin-bottom: 10px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}
#contnet .content  .recommend  .recommend-container .con .jl .tit {
	color: #3da8f5;
}
#contnet .content  .recommend  .recommend-container .con .jy .tit  {
    color: #4AD883;
}


#contnet .content  .recommend  .recommend-container .con .jl>div{
	    width: 390px;
    height: 185px;
    position: absolute;
    top: -93px;
    left: 151px;
    z-index: 2;
    display: none;
}
#contnet .content  .recommend  .recommend-container .con .jl>div span{
	content: ''; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent; 
	border-top: 6px solid #3D464D;
	position: absolute;
	bottom: -6px;
	left:30px;
}
#contnet .content  .recommend  .recommend-container .con .jl>div .text{
	width: 392px;
	height: 185px;
	overflow: hidden;
	padding: 20px;
	background:#3D464D;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}
#contnet .content  .recommend  .recommend-container .con .jl>div .text p{
	line-height: 24px;
	color: #fff;
}
#contnet .content  .recommend  .recommend-container .con>div .tit span {
    margin-right: 10px;
}
#contnet .content  .recommend  .recommend-container .con>div .tit span {
    margin-right: 10px;
}
#contnet .content  .recommend  .recommend-container .con>div .conent{
	width: 100%;
	overflow: hidden;
}
#contnet .content  .recommend  .recommend-container .con .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
#contnet .content  .recommend  .recommend-container .con .jy .conent div{
	margin-bottom: 10px;

}
#contnet .content  .recommend  .recommend-container .con .jy .conent div>p  {
   font-weight: bold;
}
#contnet .content  .recommend  .recommend-container .con .conent .text p{
	color: #646464;
	font-weight: 400 !important;
}
/*注释*/
#contnet .content  .remark {
	margin-right: 0px;
}


#contnet .content .remark .con{
	padding-top: 20px;
	width: 570px;
	overflow: hidden;
	float: left; 
}
#contnet .content .remark .con>div{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}


#contnet .content .remark .con>div .conent{
	width: 100%;
	overflow: hidden;
}
#contnet .content .remark .con .conent {
    width: 100%;
    line-height: 28px;
    color: #303030;

}
#contnet .content .remark .con >div{
	margin-bottom: 10px;

}
#contnet .content .remark .con  .conent>p  {
   font-weight: bold;
}
#contnet .content .remark .con .conent .text{
	color: #646464;
	font-weight: 400 !important;
}
#contnet .content  .remark .con  .p_b{
	line-height: 16px;
	border-left: 3px solid #3da8f5;
	padding-left: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}

/*自选*/
#contnet .content .recommend-zixuan {
	width: 1246px !important;
    margin-right: 0;
    margin-top: 20px;
}




/*单选按钮的样式*/
/*--相关的单选复选按钮--*/
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #cacaca; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb; }

.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 3px;
  left: 9px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #3da8f5;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border:1px solid #3da8f5;

 }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }
