select {  
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/  
  border: solid 1px #000;  
  
  /*很关键：将默认的select选择框样式清除*/  
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  
  
  /*在选择框的最右侧中间显示小箭头图片*/  
  background: url("../img/pull-down-display.png") no-repeat scroll right center transparent;  
  background-position: 232px center;
  
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
  padding-right: 14px;  
}  
  
  
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
select::-ms-expand { display: none; }  
table {
    table-layout: auto !important;
}
.user_list a {
    width: 130px !important;
}
/* 内容开始 */

.con_list li{
	width: 100%;
	overflow: hidden;
	background:#fff;
	border-radius: 4px;
	border: 1px solid #cacaca;
	float: left;
	padding: 0px 15px 20px;
	margin-bottom: 10px;
}
.con_list li:nth-child(4) {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #cacaca;
    float: left;
    padding: 0px 6px 20px;
    margin-bottom: 10px;
    padding-left: 15px;

}
.con_list li .con_list_tit{
	height: 52px;
	line-height: 52px;
	border-bottom: 1px solid #cacaca;
	position: relative;
	margin-bottom: 10px;
	width: 100%;
}
.con_list li>p span{
	float: left;
	font-weight: bold;
	font-size: 18px;
	color: #202020;
}
.con_list li>p button{
	position: absolute;
	top: 6px;
	right: 35px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	border: 0 none;
	background: #3da8f5;
	text-align: center;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.con_list li>p img{
	position: absolute;
	top: 50%;
	right: 0px;
	cursor: pointer;
}
/* 表格 */

.con_list table{
	border-top: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
}
.con_list li:nth-child(4) .con_list_table {
    overflow: hidden;
}
.con_list table th,td{
	width:638px;
	height: 35px;
	line-height: 35px;
	padding-left: 20px;
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	color: #303030;
}
.con_list table th{
	font-size: 18px;
	font-weight: bold;
}
.con_list table td{
	font-size: 14px;
}

.con_list table th:nth-child(2){
	text-align: right;
	padding-right: 20px;
}
.con_list table tr td:nth-child(2){
	text-align: right;
	padding-right: 20px;
}
.con_list tbody tr:nth-child(odd){
	background: #f0f0f0;
}
.con_list .box{
	background: #fff;
}
.text_right{
	text-align: right !important;
	padding-right: 20px !important;
}
.text_left{
	text-align: left !important;
	padding-left: 20px !important;
}
/* 中间部分 */
.cont_middle{
	width: 1246px;
	height: 70px;
	background-image: url(../img/Personal_security/info-blu.png);
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.cont_middle p{
	width: 1240px;
	float: right;
	background: #d7f3ff;
	font-size: 14px;
	color: #202020;
	line-height: 70px;
	text-indent: 13px;
}
/*预期支出调整计算  */
#adjustment_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 10;
}
#adjustment_modal .adjustment_modal_con{
	width:430px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top: 40%;
	background: #fff;
	margin-left: -215px;
	margin-top: -240px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}
#adjustment_modal .adjustment_modal_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 60px;
	position: relative;
	font-weight: bold;
}
#adjustment_modal .adjustment_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#adjustment_modal .adjustment_modal_title .img:hover{
	color: #3da8f5;
}
#adjustment_modal .adjustment_modal_body{
	width: 390px;
	overflow: hidden;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	padding: 10px 10px;
	padding-top: 0px;
}
.adjustment_modal_body p{
	font-size: 16px;
	color: #303030;
	margin-bottom: 18px;
	font-weight: bold;
}
.adjustment_modal_body .box{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dashed #cacaca;
	padding-top: 10px;
}
.adjustment_modal_body .box:last-child{
	border-bottom: none !important;
}
.adjustment_modal_body .box div{
	margin-bottom: 15px;
    height: 40px;
}
 .adjustment_modal_body label {
    float: left;
    font-size: 16px;
    color: #202020;
    font-weight: 400;
    line-height: 40px;
}
.adjustment_modal_body input {
    width: 232px;
    height: 40px;
    line-height: 40px;
    border: 0 none;
    border: 1px solid #cacaca;
    border-radius: 4px;
    color: #303030;
    padding:0px 14px;
    float: right;
}
#adjustment_modal .adjustment_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}

#adjustment_modal .adjustment_modal_footer button{
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
#adjustment_modal .adjustment_modal_footer button:hover{
	background: #3d98f5;
}
#adjustment_modal .adjustment_modal_footer button:active{
	background: #3d7ef5;
}
/* 缺口调整模态框 */
#q_adjustment_modal{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 100;
}
#q_adjustment_modal .q_adjustment_modal_con{
	width:430px;
	overflow: hidden;
	position: absolute;
	left:50%;
	top: 40%;
	background: #fff;
	margin-left: -215px;
	margin-top: -118px;
	padding: 0px 20px;
	border-radius: 4px;
	box-shadow: 0px 5px 15px rgba(0,0,0,.5);
}
#q_adjustment_modal .q_adjustment_modal_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 60px;
	position: relative;
	font-weight: bold;
}
#q_adjustment_modal .q_adjustment_modal_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#q_adjustment_modal .q_adjustment_modal_title .img:hover{
	color: #3da8f5;
}
#q_adjustment_modal .q_adjustment_modal_body{
	width: 390px;
	overflow: hidden;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	padding-top: 0px;
}
.q_adjustment_modal_body .box{
	width: 100%;
	height: 126px;
	padding-top: 28px;
	padding-bottom: 22px;
	border-bottom: 1px dashed #cacaca;
}
.q_adjustment_modal_body .box:last-child{
	border-bottom: 0px;
}
.q_adjustment_modal_body .box>div:nth-child(1){
	width: 100%;
	height: 16px;
	float: left;
	margin-bottom: 20px;
	line-height: 16px;
}
.q_adjustment_modal_body .box>div:nth-child(1) span:nth-child(1){
	font-size: 16px;
	color: #101010;
	margin-right: 35px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(1) span:nth-child(2){
	margin-right: 30px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(1) span:nth-child(2) label:after{
	top: 6px !important;
	left: 6px !important;
}
.q_adjustment_modal_body .box>div:nth-child(1) span:nth-child(2){
	margin-right: 30px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(1) span:nth-child(3) label:after{
	top: 6px !important;
	left: 6px !important;
}
.q_adjustment_modal_body .box>div:nth-child(2){
	width: 100%;
	overflow: hidden;
	float: left;

}
.q_adjustment_modal_body .box>div:nth-child(2) div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
		display: none;
}
.q_adjustment_modal_body .box>div:nth-child(2) div:nth-child(1){
	display: block;
}
.q_adjustment_modal_body .box>div:nth-child(2) div span{
	font-size: 16px;
	color: #101010;
	margin-right: 70px;
	float: left;
}
.q_adjustment_modal_body .box>div:nth-child(2) div select{
	font-size: 14px;
	color: #303030;
	float: left;
	width: 260px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #cacaca;
	border-radius: 4px;
	padding-left: 15px;

}


#q_adjustment_modal .q_adjustment_modal_footer{
	width: 100%;
	height: 60px;
	position: relative;
}
#q_adjustment_modal .q_adjustment_modal_footer button{
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -50px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #3da8f5;
	border-radius: 4px;
	cursor: pointer;
}
#q_adjustment_modal .q_adjustment_modal_footer button:hover{
	background: #3d98f5;
}
#q_adjustment_modal .q_adjustment_modal_footer button:active{
	background: #3d7ef5;
}

/*单选按钮的样式*/
/*--相关的单选复选按钮--*/
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #cacaca; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb; }

.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 3px;
  left: 9px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #3da8f5;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border:1px solid #3da8f5;

 }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }
