body{
	background: #f6f6f6 !important;
}
table{
	table-layout: auto !important;
}

.header{
	height: 50px;
	width: 100%;
	background: #fff;
	padding: 0px !important;
	position: fixed;
	top: 0;
	left: 0;
}
.h_back{
	width: 140px;
	height: 50px;
	line-height: 50px;
	padding-left: 47px;
	font-size: 18px;
	color: #202020;
	float: left;
	border-right: 1px solid #cacaca;
	background-image: url(../img/MemberFamily/back.png) ;
	background-repeat: no-repeat;
	background-position: 20px center;
}
.s_footer{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
	box-shadow: 0px -2px 2px rgba(0,0,0,0.2);
}
.s_footer .cont{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	width: 240px;
	height: 40px;
}
.s_footer .cont div{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #6bcf6b;
	border: 0 none;
	border-radius: 4px;
	color: #fff;
	float: left;
	cursor: pointer;
}
#next_step:hover{
	background: #3d98f5;
}
#next_step:active{
	background: #3d7ef5;
}
#next_step{
	margin-right: 30px;
	background: #3da8f5;
}
 /*footer结束*/

.container{
	width: 1246px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 80px;
	margin-bottom: 80px;
	position: relative;
}
/*大标题*/
.title{
	width: 100%;
	overflow: hidden;

}
.title .fl span:first-child{
	width:91px;
	height:22px;
	font-size:22px;
	color:#202020;
	line-height:30px;
	margin-right: 13px;
}
.title .fl span:last-child{
	width:111px;
	height:14px;
	font-size:14px;
	font-weight:400;
	color:rgba(48,48,48,1);
	line-height:22px;
}
/*搜索框*/
.title .fr {
	width: 428px;
	height: 32px;

}
.title .fr .search{
	width:130px;
	height:32px;
	line-height: 32px;
	padding:0 15px;
	border: 0 none;
	background:rgba(255,255,255,1);
	border:1px solid rgba(202,202,202,1);
	border-radius:4px 4px 4px 4px;
	margin-right: 19px;
	float: left;
	outline-style: none;
}

.title .fr .select{
	width:130px;
	height:32px;
	line-height: 32px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(202,202,202,1);
	border-radius:4px 4px 4px 4px;
	padding-left: 15px;
	font-size: 14px;
	background-image: url(../img/pull-down-display.png);
	background-repeat: no-repeat;
	background-position: 104px 14px;
	float: right;
	cursor: pointer;
}
.title .fr  .search_list{
	position: absolute;
    right: 0;
    top: 120px;
    z-index: 1;
    width: 130px;
    background: #fff;
    display: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.title .fr  .search_list li {
    width: 130px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #101010;
    background: #fff;
    margin-bottom: 4px;
    padding-left: 14px;
    cursor: pointer;
}
.title .fr  .search_list li:hover{
	background:#3da8f5 !important;
	color:#fff !important;
}
.title .fr  .search_list li:first-child{
	border-top-left-radius:4px;
	border-top-right-radius:4px;

}
.title .fr  .search_list li:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 0px;
}
.color_1 {
    box-shadow: 0px 0px 6px #3da8f5;
    border: 1px solid #3da8f5 !important;
}
/*小标题*/
.small_title{
	width: 100%;
	height:14px;
	line-height: 14px;
	font-size:14px;
	font-weight:400;
	color:rgba(144,144,144,1);
	margin-top: 11px;
	margin-bottom: 15px;
	float: left;
}
/*表格样式*/
.table_content{
	width: 100%;
	height: 550px;
	padding: 20px;
	border:1px solid rgba(219,219,219,1);
	border-radius:6px ;
	float: left;
	background: #fff;
}
#table{
	width: 100%;
	table-layout: fixed;
}
.bootstrap-table .table th{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
.bootstrap-table .table{
	background:rgba(240,240,240,1);
}
.bootstrap-table .table .th-inner{
	padding: 0px !important;
	height: 40px;
	line-height: 40px;
	padding-left: 20px !important;
	font-size:18px;
	font-weight:bold;
	color:rgba(48,48,48,1);
}
.bootstrap-table .table  th:first-child .th-inner{
	padding: 0px !important
}
.bootstrap-table .table  th:last-child .th-inner{
	padding-left: 0px;
	padding-right: 20px !important;
	text-align: right;
}
#table td{
	height: 50px;
	line-height: 50px;
	background: #fff;
	padding-left:20px; 
	font-size:14px;
	font-weight:500;
	color:rgba(16,16,16,1);
}
#table tbody tr td:first-child{
	padding: 0
}
#table tbody tr td a{
	width: 100%;
	border-bottom: 0;
	color:rgba(16,16,16,1);
}
#table tbody tr td:last-child{
	padding-left: 0px;
	padding-right: 20px;
	text-align: right;
}
.editable-container.popover{
	left: 900px !important;
}
/*每一列的宽度*/
.fixed-table-body{
	overflow-x: hidden;
}
.bootstrap-table .table  th:nth-child(1){
	width: 52px !important;
}
.bootstrap-table .table  th:nth-child(1) .th-inner{
	width: 100% !important;
}
#table tbody tr td:nth-child(1){
	width: 52px !important;
}
.bootstrap-table .table  th:nth-child(2){
	width: 292px !important;
}
.bootstrap-table .table  th:nth-child(2) .th-inner{
	width: 292px !important;
}
#table tbody tr td:nth-child(2){
	width: 292px !important;
}
.bootstrap-table .table  th:nth-child(3){
	width: 306px !important;
}
.bootstrap-table .table  th:nth-child(3) .th-inner{
	width: 306px !important;
}
#table tbody tr td:nth-child(3){
	width: 306px !important;
}
.bootstrap-table .table  th:nth-child(4){
	width: 214px !important;
}
.bootstrap-table .table  th:nth-child(4) .th-inner{
	width: 214px !important;
}
#table tbody tr td:nth-child(4){
	width: 214px !important;
}
/*.bootstrap-table .table  th:nth-child(5){
	width: 211px !important;
}
.bootstrap-table .table  th:nth-child(5) .th-inner{
	width: 211px !important;
}
#table tbody tr td:nth-child(5){
	width: 211px !important;
}*/
.bootstrap-table .table  th:nth-child(5){
	width: 124px !important;
}
.bootstrap-table .table  th:nth-child(5) .th-inner{
	width: 100% !important;
}
#table tbody tr td:nth-child(5){
	width: 124px !important;
}
.fixed-table-container input[type="radio"], .fixed-table-container input[type="checkbox"]{
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}