
#screen>div:nth-child(1){
    position: absolute;
    top: 10px;
    left: 155px !important;
}
#screen>div:nth-child(2){
    position: absolute;
    top: 10px;
    left: 372px !important;
}
#s_table tr td:nth-child(5){
    width: 400px !important;
    
}
#s_table tr td:nth-child(2){
    width: 250px !important;
    
}
#s_table tr th:nth-child(5){
    width: 400px !important;
    
}
#s_table tr th:nth-child(2){
    width: 250px !important;
    
}