table{
  table-layout: auto !important;
}
#screen>div:nth-child(1){
    position: absolute;
    top: 10px;
    left: 92px !important;
}
#screen>div:nth-child(2){
    position: absolute;
    top: 10px;
    left: 373px !important;
}

#s_table tr td:nth-child(2){
    width: 250px !important;
    
}
#s_table tr th:nth-child(5){
    width: 400px !important;
}
#s_table tr td:nth-child(5){
    width: 400px !important;
      text-align: left !important;
      padding-left: 20px !important;
}
#s_table tr th:nth-child(5) .th-inner{
    text-align: left !important;
}
#s_table tr td:nth-child(4){
      text-align: right !important;
      padding-left: 0px !important;
      padding-right: 20px !important;
}
#s_table tr th:nth-child(4) .th-inner{
    text-align: right !important;
    padding-left: 0px !important;
      padding-right: 20px !important;
}
#s_table tr th:nth-child(2){
    width: 250px !important;
    
}