
.header {
    height: 50px;
    line-height: 50px;
}
.header_second {
    height: 110px;
}
.h_list_second a {
    height: 108px;
    line-height: 108px;
}
.head_list_tab a{
    height: 50px !important;
    line-height: 50px !important;
}
/* 回到顶部 */
.back_top{
	position: fixed;
	bottom: 15px;
	right: 30px;
	width: 30px;
	height: 30px;
	background: #fff;
	background-image: url(../img/back_top.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;	
	display: none;
	border-radius: 4px;

}

.back_top:hover{
	background-image: url(../img/back_top_hover.png);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}
/*用户列表*/
#userList{
	width: 100%;
	overflow: hidden;
}
#userList li{
	width: 252px;
	height:60px;
	margin-right: 20px;
	padding: 30px 20px;
	border-left: 4px solid #3da8f5;
	border-radius:4px;
	background: #fff;
	float: left;
	margin-bottom: 30px;
	font-weight: bold;
}
#userList li .fl{
	width: 80px;
	height: 100%;
	float: left;
	border-right: 1px solid #cacaca;
}
#userList li .fl .name{
	width: 100%;
	height: 18px;
	line-height: 18px;
	color: #101010;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}
#userList li .fl .sex{
	width: 100%;
	height: 16px;
	line-height: 16px;
	color: #909090;
	font-size: 16px;
	line-height: 16px;

}
#userList li .fr{
	width: 150px;
	height: 100%;
	padding-left: 20px;
}
#userList li .fr .age{
	width: 100%;
	height: 18px;
	line-height: 18px;
	color: #101010;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}
#userList li .fr .birthday{
	width: 100%;
	height: 16px;
	line-height: 16px;
	color: #909090;
	font-size: 16px;
	line-height: 16px;
}
#userList li .fr .birthday span:first-child{
	margin-right: 20px;
}
/*支出的样式*/
#expenditure{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#expenditure .table{
	width: 736px;
	height:496px;
	float: left;
}
#expenditure .tab_content ul li{
	width: 728px;
	overflow: hidden;
	border: 1px solid #cacaca;
	border-bottom: none;
	margin-bottom: 20px;

}


#expenditure .tab_content ul li>.list_tit{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #cacaca;
  background: #f8f8f8;
  font-size: 18px;
  color: #101010;
  font-weight: bold;
}
#expenditure .tab_content ul li>.list_tit span{
	 height: 40px;
	 line-height: 40px;
	 float: left;
	 width: 127px;
	 padding-right: 20px;
	text-align: right;
}
#expenditure .tab_content ul li>.list_tit span:nth-child(1){
	position: relative;
	padding-right: 0px;
	padding-left: 40px;
	text-align: left;
	width: 98px;
}
#expenditure .list_tit_th{
  width: 728px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cacaca;
  background: #f0f0f0;
  font-size: 18px;
  color: #101010;
  font-weight: bold;
  float: left;
}
#expenditure .list_tit_th span{
	 height: 40px;
	 line-height: 40px;
	 float: left;
	 width: 127px;
	 padding-right: 20px;
	text-align: right;
}
#expenditure .list_tit_th span:nth-child(1){
	position: relative;
	padding-right: 0px;
	padding-left: 40px;
	text-align: left;
	width: 98px;
}
#expenditure .tab_content ul li .list_content{
	width: 100%;
	overflow: hidden;
}
#expenditure .tab_content ul li .list_content_item{
	width: 100%;
	overflow: hidden;
}
#expenditure .tab_content ul li .list_content_item .list_tit{
	  width: 100%;
	  height: 40px;
	  line-height: 40px;
	  border-bottom:  1px solid #cacaca;
	  font-size: 14px;
	  color: #101010;
	  background-image: url("../img/pull-right-display.png");
	  background-repeat: no-repeat;
	  background-position: 10px 15px;
	  cursor: pointer;
}
.list_tit_bg_right{
    background-image: url("../img/pull-down-display.png") !important;
    background-repeat: no-repeat;
	background-position: 10px 18px !important;
	cursor: pointer;
}
#expenditure .tab_content ul li .list_content_item .list_tit span{
	 height: 40px;
	 line-height: 40px;
	 float: left;
	 width: 127px;
	 padding-right: 20px;
	text-align: right;
	font-size: 16px;
	color: #101010;

}
#expenditure .tab_content ul li .list_content_item .list_tit span:nth-child(1){
	position: relative;
	padding-right: 0px;
	padding-left: 40px;
	text-align: left;
	width: 98px;
}
#expenditure .tab_content ul li .list_content_item .select_content{
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: #101010;
	display: none;
	border-bottom: 1px solid #cacaca;
}
#expenditure .tab_content ul li .list_content_item .select_content p{
	 width: 100%;
	 height: 40px;
	 line-height: 40px;
	 font-size: 14px;
}
#expenditure .tab_content ul li .list_content_item .select_content span{
	 height: 40px;
	 line-height: 40px;
	 float: left;
	 width: 127px;
	 padding-right: 20px;
	text-align: right;
	cursor: pointer;
}
#expenditure .tab_content ul li .list_content_item .select_content span:nth-child(1){

	position: relative;
	padding-right: 0px;
	padding-left: 53px;
	text-align: left;
	width: 85px;
}
#expenditure .echarst_list{
	width: 100%;
	overflow: hidden;
}
#expenditure .echarst_list p{
	width: 100%;
	height: 18px;
	line-height: 18px;
	padding: 18px 0;
	border-bottom: 1px solid #cacaca;

}

#expenditure .echarst_list p span:nth-child(1){
	width: 18px;
	height: 18px;
	border-radius: 9px;
	margin-right: 20px;
	float: left;
}
#expenditure .echarst_list p span:nth-child(2){
	color: #909090;
	font-size: 18px;
	float: left;
	font-weight: bold;
}
#expenditure .echarst_list p span:nth-child(3){
	float: right;
	color: #101010;
	font-size: 18px;
}
#expenditure .echarst_list p:nth-child(1){
	padding-top: 0px;
}
#expenditure .echarst_list p:last-child{
	border-bottom: 0px;
}
/*收入*/
.table{
	width: 1184px;
	overflow: hidden;
	border: 1px solid #cacaca;
	padding: 30px;
	background: #fff;
	border-radius: 4px;
	margin-top:20px; 
	float: left;
}

.table .title{
	width: 100%;
	float: left;
	height: 24px;
	line-height: 24px;
	margin-bottom: 20px;
}
.table .tit_b{
	float: left;
	color: #101010;
	font-size: 24px;
	margin-right: 30px;
	font-weight: bold;
}
.table .title span:nth-child(2){
	float: left;
	margin-left: 30px;
	color: #909090;
	font-size: 14px;
}
.table .tab{
	width: 100%;
	float: left;
	height: 36px;
	line-height: 35px;
	margin-bottom: 20px;
}
.table .tab ul{
	height: 36px;
	float: left; 
}
.table .tab ul li{
	width: 94px;
	height: 36px;
	border-radius: 18px;
	margin-right: 20px;
	float: left;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: #101010;
	background:#f6f6f6;
	cursor: pointer;
}
.tab_class{
	background: #3da8f5 !important;
	color: #fff !important;
}
.tab span{
	float: left;
	color: #909090;
	font-size: 16px;
}
.tab_content{
	width:100%;
  overflow: hidden;
	float: left;

}
.tab_content ul::-webkit-scrollbar{
  background:#fff;
  width: 5px;
}
.tab_content ul::-webkit-scrollbar-thumb { 
	background:#cacaca;
	border-radius: 5px;
}
.tab_content ul{
		height: 406px;
	overflow-y: scroll;
	width: 100%;
	position: relative;

}
.tab_content ul li{
	width: 100%;
	overflow: hidden;
	float: left;
	/*display: none;*/
	margin-bottom: 20px;
}
.tab_content ul li:first-child{
	display: inline-block;
}
.tab_content ul li table{
	width: 100%;
	overflow: hidden;
	border: 1px solid #cacaca;
	border-bottom: none;
}

.tab_content ul li table thead{
	width: 100%;
	background: #f8f8f8;
}
.tab_content ul li table tr{
	width: 100%;
	overflow: hidden;

}
.tab_content ul li table th{
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #101010;
	border-bottom: 1px solid #cacaca;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.tab_content ul li table td{

	text-align: center;
	height: 40px ;
	line-height: 40px ;
	border-bottom: 1px solid #cacaca;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 16px;
	color: #101010;
}
.tab_content ul li table th:first-child{
	text-align: left;
	padding-left: 20px;
}
.tab_content ul li table th:last-child{
	text-align: right;
	padding-right: 20px;
}
.tab_content ul li table tbody{
	width: 100%;
	overflow: hidden;
}
.tab_content ul li table tbody tr td:first-child{
	text-align: left;
	padding-left: 20px;
}
.tab_content ul li table tbody tr td:last-child{
	text-align: right;
	padding-right: 20px;
}

/*图表*/
.echarst{
	width: 364px;
	height: 370px;
	margin-left: 20px;
	padding: 30px;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    float: left;
    margin-top: 20px;
}

.echarst .echarst_content{
	width: 100%;
	height: 300px;
	float: left;
}
.echarst .echarst_content>div{
	width: 100%;
	height: 100%;
}
.echarst .tit_b{
	text-align: center;
	width: 100%;
    color: #101010;
    font-size: 24px;
    font-weight: bold;
}
/*资产负债*/
#assets_liabilities{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#assets_liabilities .table{
	width: 736px;
	height:370px;
	float: left;
}
#assets_liabilities .table .tab_content ul{
	height:280px;
	float: left;
}
#assets_liabilities .table .tab_content  thead th{
	padding-right: 20px;
	text-align: right;
}
#assets_liabilities .table .tab_content  tbody td{
	padding-right: 20px;
	text-align: right;
}
#assets_liabilities .table .tab_content  thead th:nth-child(1){
	width: 118px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;
}
#assets_liabilities .table .tab_content  tbody tr td:nth-child(1){
	width: 118px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;
}
#assets_liabilities .table .tab_content  thead th:nth-child(2){
	width: 127px;
}
#assets_liabilities .table .tab_content  tbody tr td:nth-child(2){
	width: 127px;
}

#assets_liabilities .list_tit_th{
  width: 731px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cacaca;
  background: #f0f0f0;
  font-size: 18px;
  color: #101010;
  font-weight: bold;
  float: left;
  border-bottom: 0;
}
#assets_liabilities .list_tit_th thead th{
	 height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #101010;
    border-bottom: 1px solid #cacaca;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    padding-right: 20px;
}
#assets_liabilities .list_tit_th thead th:nth-child(1){
	position: relative;
	padding-right: 0px;
	padding-left: 20px;
	text-align: left;
	width: 118px;
}
#assets_liabilities .list_tit_th thead th:nth-child(2){
	position: relative;
	padding-right: 20px;
	padding-left: 0px;
	text-align:right;
	width:127px;
}
/*社会保障*/

#existing_guarantee{
	width: 100%;
	overflow: hidden;
}
#existing_guarantee .table{
	height:380px;
	float: left;
}
#existing_guarantee .table .tab_content  ul{
	height:329px;
	float: left;
}
#existing_guarantee .table .tab_content  thead th{
	width: 245px;
	padding-right: 20px;
	text-align: right;
}
#existing_guarantee .table .tab_content  tbody td{
	width: 245px;
	padding-right: 20px;
	text-align: right;
}
#existing_guarantee .table .tab_content  thead th:nth-child(1){
	width: 176px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;
}
#existing_guarantee .table .tab_content  tbody tr td:nth-child(1){
	width: 176px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;
}

/*#existing_guarantee  .tab_content ul .children{
	width: 49%;
	margin-right: 2%;
	margin-bottom: 20px;
	float: left;
}

#existing_guarantee .children  thead th:nth-child(2){
	text-align: right !important;
}
#existing_guarantee .children  tbody tr td:nth-child(2){
	text-align: right !important;

}*/

/*收入*/
#income{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#income .table{
	height:370px;
	float: left;
}
#income .table .tab_content   ul{
	height:289px;
	float: left;
}
#income .table .tab_content  thead th{
	padding-right: 20px;
	text-align: right;
}
#income .table .tab_content  tbody td{
	
	padding-right: 20px;
	text-align: right;
}
#income .table .tab_content  thead th:nth-child(1){
	width: 97px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;
}
#income .table .tab_content  tbody tr td:nth-child(1){
	width: 97px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;
}
#income .table .tab_content  thead th:nth-child(2){
	width: 246px;
}
#income .table .tab_content  tbody tr td:nth-child(2){
    width: 246px;
}
#income .list_tit_th{
  width: 1179px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cacaca;
  background: #f0f0f0;
  font-size: 18px;
  color: #101010;
  font-weight: bold;
  float: left;
    border-bottom: 0;
}
#income .list_tit_th thead th{
	 height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #101010;
    border-bottom: 1px solid #cacaca;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    padding-right: 20px;
}
#income .list_tit_th thead th:nth-child(1){
	position: relative;
	padding-right: 0px;
	padding-left: 20px;
	text-align: left;
	width: 98px;
}
#income .list_tit_th thead th:nth-child(2){
	position: relative;
	padding-right: 20px;
	padding-left: 0px;
	text-align:right;
	width:246px;
}
/*短期支出*/
#short  .tab_content  thead th{
	padding-right: 20px;
	text-align: right;

}
#short  .tab_content  tbody td{
	padding-right: 20px;
	text-align: right;

}
#short  .tab_content  thead th:nth-child(1){
	width: 97px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;

}
#short  .tab_content  tbody tr td:nth-child(1){
	width: 97px;
	padding-left: 20px;
	text-align: left;
	padding-right: 0px;

}
#short  .tab_content  thead th:nth-child(2){
	width: 246px;
}
#short  .tab_content  tbody tr td:nth-child(2){
	width: 246px;
}
/*详情*/
.detail {
    margin-left: 50px;
    font-size: 14px;
    color: #909090;
    cursor: pointer;
}
.detail i {
    margin-left: 6px;
    font-size: 12px;
}
.detail:hover{
   color: #3da8f5;
}
#expenditure .modal{
	position: absolute;
	top:70px;
	left: 20%;
	margin-left: -137px;
}
#income .modal{
	position: absolute;
	top:87px;
	left:10%;
}
#assets_liabilities .modal{
	position: absolute;
	top:87px;
	left: 11%;
}
/*详情*/
.modal{
	width: 596px;
	overflow: hidden;
	padding: 20px;
	display: none;
	 z-index: 100; 
	 box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	 background: #fff;
	 border-radius: 4px;
}
.modal .modal_con{
	width:100%;
	overflow: hidden;
}
.modal .modal_title{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	line-height: 50px;
	position: relative;
	font-weight: bold;
}

.modal .modal_title .img{
	position: absolute;
	top:2px;
	right:7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
.modal .modal_title .img:hover{
	color: #3da8f5;
}
.modal .modal_body{
	width: 596px;
	overflow: hidden;
}
.modal  .form{
	width: 100%;
	height: 100%;

}

.modal  .form table{
	border-top: 1px solid #cacaca;
	border-left: 1px solid #cacaca;

	width: 100%;
}
.modal  .form table tbody tr:nth-child(odd){
	background: #f0f0f0;
}
.modal  .form table tbody tr:hover{
	background: #f6f6f6;
}
.modal  .form table th{
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	height: 41px;
	line-height: 41px;
	font-size: 16px;
	color: #303030;
	padding-right: 20px;
	text-align: right;
}
.modal  .form table tr th:first-child{
	padding-left: 20px;
	text-align: left;
	padding-right: 0px !important;
}
.modal  .form table tr td:first-child{
	padding-left: 20px;
	text-align: left;
	padding-right: 0px !important;
}
.modal  .form table td{
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #303030;
	padding-right: 20px;
	text-align: right;
}
