/* 头部开始  */
.header{
	width: 100%;
	height: 28px;
	line-height: 28px;
	background: #fff;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	padding: 11px 0px;
	position: relative;
}
.logo a{
	font-size: 24px;
	color: #101010;
	margin-left: 60px;
}
.form{
	position: absolute;
	top: 161px;
	left: 50%;
	width: 390px;
	height: 240px;
	margin-left: -215px;
	background: #fff;
	border-radius: 4px;
	padding: 0px 20px ;
	border: 1px solid #dedede;
}
.back_password_tit{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	cursor: #202020;
	border-bottom: 1px solid #cacaca;
	font-weight: bold;
}
.back_password_cont{
	width: 370px;
	height: 40px;
	padding:0px 10px;
	position: relative;
	padding-top: 45px;

}
.back_password_cont div{
	width: 100%;
	height: 40px;
	float: left;
	margin-bottom: 15px;
}
.back_password_cont p{
	width: 100%;
	font-size: 14px;
	color: #f65757;
	margin-top: 6px;
	position: absolute;
	bottom: -79px;
	left: 100px;
	width: 250px;
	display: none;
}
.back_password_cont label{
	float: left;
	color: #303030;
	font-size: 16px;
	float: left;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
.back_password_cont input{
	width: 250px;
	float: right;
	height: 38px;
	line-height: 38px;
	border-radius: 4px;
	border: 1px solid #cacaca;
	padding: 0px 14px;
	font-size: 14px;
}
.error{
	/*display: none;*/
	position: absolute;
	border: 40px;
	left: 40px;
}
::placeholder{
	color: #909090;
}
.b_cont{
	background: #3da8f5 !important;
}
.b_cont:hover{
	background: #3d98f5 !important;
}
.b_cont:active{
	background: #3d7ef5 !important;
}
.g_cont{
	background:#6bcf6b  !important;
}
.g_cont:hover{
	background: #6bcf83 !important;
}
.g_cont:active{
	background: #49c365 !important;
}
/* 计划书生成提示信息模态框 */
#plan_modal1{
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 10;
}
#plan_modal1 .plan_modal1_con{
	width: 390px;
	height: 240px;
	position: absolute;
	background:#fff;
	border-radius: 5px;
	left:50%;
	top: 40%;
	margin-left: -215px;
	margin-top: -120px;
	padding: 0px 20px ;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
#plan_modal1 .plan_modal1_title{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 20px;
	color: #101010;
	position: relative;
	line-height: 60px;
	font-weight: bold;
}
#plan_modal1 .plan_modal1_title .img{
	position: absolute;
	top:2px;
	right: 7px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	font-size: 28px;
	color: #999;
}
#plan_modal1 .plan_modal1_title .img:hover{
	color: #3da8f5;

}
#plan_modal1 .plan_modal1_body{
	height: 118px;
	width: 390px;
	border-top: 1px solid  #cacaca;
	border-bottom: 1px solid  #cacaca;
	text-align: center;
	font-size: 14px;
	color: #202020;
	position: relative;
	line-height: 118px;
}
#plan_modal1 .plan_modal1_footer{
	width: 100%;
	height: 60px;
	position: relative;
}
#plan_modal1 .plan_modal1_footer a{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background:#3da8f5;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top:10px;
	left: 50%;
	font-size: 14px;
	margin-left: -50px;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
}
#plan_modal1 .plan_modal1_footer a:hover{
	background:#3d98f5;
}
#plan_modal1 .plan_modal1_footer a:active{
	background:#3d7ef5;
}